/*
  HTML5 Reset :: reset.css
  -------------------------------------------------------------------
  Подготовлен командой LiveHTML | by LiveHTML :: http://livehtml.ru
  -------------------------------------------------------------------
  Выражаем особую благодарность людям, чьи труды способствовали появлению данного ресета:
  We have learned much from/been inspired by/taken code where offered from:

  Eric Meyer          :: http://ericmeyer.com
  HTML5 Doctor        :: http://html5doctor.com
  and the HTML5 Boilerplate :: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Сбрасываем значения по умолчанию для элементов | Let's default this puppy out
-------------------------------------------------------------------------------*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
header,
section,
footer {
  clear: both;
}
/* Всегда показывать полосу прокрутки (чтобы сайт не прыгал, когда на других страницах нет данной полосы)
   force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}
/* Добавляем буллеты к UL и цифры к OL, т.к. в контенте могут использоваться стандартные списки
  we can use default ULs & OLs with bullets */
ul {
  list-style: outside disc;
  margin: 15px 0 15px 30px;
}
ol {
  list-style: outside decimal;
  margin: 15px 0 15px 30px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
td img {
  vertical-align: top;
}
/* Сбрасываем отступы у элементов форм
  Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
  outline: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input,
select {
  vertical-align: middle;
}
input[type=radio],
input[type=checkbox] {
  margin: 1px 4px 4px 0;
}
input[type=text],
input[type=password] {
  border-radius: 0;
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  resize: vertical;
  border-radius: 0;
  -webkit-appearance: none;
}
/* Решение проблемы с обрезанием стилизованных кнопок в IE | make buttons play nice in IE */
button,
input[type=submit] {
  width: auto;
  overflow: visible;
}
.ie7 input[type=submit],
.ie7 input[type=reset],
.ie7 input[type=button] {
  filter: chroma(color=#000000);
}
/* Курсор-указатель на кликабельных элементах | hand cursor on clickable elements */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
/* Стандартизируем моноширные элементы | standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}
/* Устанавливаем произвольный цвет для выделения (не забываем убрать тень для текста)
  Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
/* ::-moz-selection{ background:#fcd700; color:#fff; text-shadow:none; } */
/* ::selection { background:#fcd700; color:#fff; text-shadow:none; } */
/* Устанавливаем произвольный цвет подсветки ссылок на Apple устройствах: j.mp/webkit-tap-highlight-color */
/* a:link {-webkit-tap-highlight-color:#fcd700;} */
/* Правильный ресайз картинок в IE7
  scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
/* Сброс float блоков | let's clear some floats */
.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* Coded in LiveHTML :: http://livehtml.io */
.hack {
  color: red;
}
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  src: url(../fonts/helvetica/helveticaneue.eot);
  src: url(../fonts/helvetica/helveticaneue.eot) format("embedded-opentype"), url(../fonts/helvetica/helveticaneue.woff) format("woff"), url(../fonts/helvetica/helveticaneue.ttf) format("truetype"), url(../fonts/helvetica/helveticaneue.svg) format("svg");
}
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 700;
  src: url(../fonts/helvetica/helvetica-neue-bold.eot);
  src: url(../fonts/helvetica/helvetica-neue-bold.eot) format("embedded-opentype"), url(../fonts/helvetica/helvetica-neue-bold.woff) format("woff"), url(../fonts/helvetica/helvetica-neue-bold.ttf) format("truetype"), url(../fonts/helvetica/helvetica-neue-bold.svg) format("svg");
}
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  src: url(../fonts/helvetica/helveticaneue-medium.eot);
  src: url(../fonts/helvetica/helveticaneue-medium.eot) format("embedded-opentype"), url(../fonts/helvetica/helveticaneue-medium.woff) format("woff"), url(../fonts/helvetica/helveticaneue-medium.ttf) format("truetype"), url(../fonts/helvetica/helveticaneue-medium.svg) format("svg");
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
html {
  min-width: auto;
  width: auto;
  height: 100%;
}
body {
  font: normal normal 14px/1.5 'HelveticaNeue', arial, sans-serif;
  background: #e2e2e2;
  color: #000000;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 320px;
  min-height: initial;
}
body input {
  font-family: 'HelveticaNeue', arial, sans-serif;
}
body *,
body *:before,
body *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #ee9200;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.container {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 100%;
  height: auto;
  max-width: 1024px;
  max-height: initial;
}
.head {
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 110px 0 0;
  width: auto;
  height: 56px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.head,
.head * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.head--logo {
  background: url(../img/head--logo.png) center center no-repeat;
  display: block;
  width: 161px;
  height: 55px;
}
.head--back {
  padding: 0 0 0 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 56px;
  font-weight: 700;
}
.head--back i {
  background: url(../img/head--back.png) no-repeat;
  margin: 15px 10px 16px 0;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 25px;
}
.head--back span {
  display: inline-block;
  vertical-align: top;
}
.head.harticles {
  padding: 12px 0;
}
.head--anuncio {
  background: #ee9200;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  margin: 0 0 0 10px;
  display: block;
  font-size: 14px;
  line-height: 30px;
  width: calc(100% - 130px);
  height: 30px;
}
.head--anuncio i {
  background: url(../img/head--anuncio.png);
  margin: 5px 10px 0 0;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
}
.head--input {
  padding: 8px 0 8px 6px;
  display: none;
}
.head--input input {
  border: 1px solid #c7c7c7;
  background: #f1f1f1;
  padding: 0 10px;
  display: block;
  width: 100%;
  height: 39px;
  font-size: 14px;
  line-height: 37px;
}
.head.search .head--back {
  display: none;
}
.head.search .head--logo {
  display: none;
}
.head.search .head--input {
  display: block;
}
.head--tools {
  padding-right: 55px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}
.head--tools a {
  background: url(../img/head--tools.png) no-repeat;
  display: block;
  width: 55px;
  height: 55px;
}
.head--tools a.i1 {
  background-position: 5px 5px;
}
.head--tools a.i2 {
  background-color: #ffffff;
  background-position: -40px 5px;
  z-index: 1000;
  border-bottom: 1px solid #f1f1f1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 55px;
  height: 56px;
}
.intro--slider {
  overflow: hidden;
  max-width: initial;
  max-height: 500px;
}
.intro--slider .slide {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.intro--slider .slide img {
  display: block;
  width: 100%;
  height: auto;
}
.intro--slider .slide p {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  font-size: 14px;
  line-height: 22px;
}
.intro--slider .slick-arrow {
  z-index: 10;
  border: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6) url(../img/slick--arrows.png) no-repeat;
  font-size: 0;
  line-height: 0;
  width: 60px;
  height: 44px;
}
.intro--slider .slick-prev {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 20%;
  left: 0;
}
.intro--slider .slick-next {
  background-position: -60px 0;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 20%;
  left: auto;
}
.intro--slider .slick-dots {
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 20px;
  left: 0;
  display: block;
  font-size: 0;
  line-height: 0;
}
.intro--slider .slick-dots li {
  margin: 0 6px;
  background: #5a5b5c;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.intro--slider .slick-dots li.slick-active {
  background: #ee9200;
  -webkit-box-shadow: 0 0 0 2px #ee9200;
  -moz-box-shadow: 0 0 0 2px #ee9200;
  box-shadow: 0 0 0 2px #ee9200;
}
.intro--slider .slick-dots li button {
  display: none;
}
.news .row {
  margin: 0 -5px;
}
.news--item {
  padding: 20px 5px 0;
  width: 100%;
  height: auto;
}
.news--item.alt {
  padding: 20px 0;
  width: 100%!important;
}
.news--item-title {
  margin: 0 0 5px;
  border-bottom: 1px solid #ee9200;
}
.news--item-name {
  text-transform: uppercase;
  border-bottom: 2px solid #ee9200;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.news--item-more {
  text-decoration: none;
  color: #ffffff;
  background: #ee9200 url(../img/heading--todos.png) right center no-repeat;
  padding: 0 19px 0 7px;
  font-size: 14px;
  line-height: 22px;
}
.news--item-cont {
  background: #ffffff;
  border-bottom: 2px solid #d5d5d5;
  padding: 8px;
}
.news--item-image {
  width: 100px;
  height: auto;
}
.news--item-image img {
  display: block;
  width: 100%;
  height: auto;
}
.news--item-text {
  border-bottom: 1px solid #b1b0b0;
  overflow: hidden;
  font-size: 15px;
  line-height: 25px;
  width: calc(100% - 110px);
  height: 100px;
}
.news--item-tool {
  padding: 5px 0 0;
  color: #ee9200;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.news--item-tool.alt {
  font-style: italic;
  text-align: right;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.news--selects-btn {
  margin: 0 auto;
  background: #ee9200 url(../img/news--selects-btn.png) right center no-repeat;
  border: none;
  padding: 0 0 0 13px;
  text-align: left;
  color: #ffffff;
  display: block;
  width: 110px;
  height: 44px;
  font-size: 15px;
  line-height: 44px;
}
.news--select {
  padding: 10px 5px 15px;
  width: 50%;
  height: auto;
}
.news--select .select {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: auto;
  height: 30px;
}
.news--select .select_in {
  cursor: pointer;
  border: 1px solid #c0c0c0;
  background: #ffffff;
  color: #000000;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 100%;
  height: 100%;
}
.news--select .select_arrow {
  border-color: #ee9200 transparent  transparent  transparent;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  position: absolute;
  top: 50%;
  right: 10px;
  bottom: auto;
  left: auto;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  width: 0;
  height: auto;
}
.news--select .select_title {
  padding: 0 25px 0 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 28px;
  display: block;
}
.news--select .select_list {
  margin: 5px 0 0 0;
  overflow-y: auto;
  list-style: none;
  background: #ffffff;
  z-index: 1000;
  border: 1px solid #c0c0c0;
  position: absolute;
  top: 100%;
  right: auto;
  bottom: auto;
  left: auto;
  display: none;
  width: 100%;
  height: auto;
  max-width: initial;
  max-height: 200px;
}
.news--select .select_list li {
  padding: 6px 8px;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}
.news--select .select_list li:hover {
  background: #eee;
}
.articles {
  padding: 10px 0 35px;
}
.articles--pagination {
  list-style: none;
  margin: 0;
  padding: 15px 0 0;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.articles--pagination li {
  padding: 0 12px;
  background: #9a9a9a;
  margin: 0 2px;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 34px;
}
.articles--pagination li a {
  color: #ffffff;
  text-decoration: none;
}
.articles--pagination li.active,
.articles--pagination li:hover {
  background: #4f4f4f;
}
.articles--pagination li.prev,
.articles--pagination li.next {
  padding: 0 14px 2px;
  font-size: 15px;
  line-height: 32px;
}
.articles--title {
  margin: 0 0 10px;
}
.articles--title .news--item-title {
  margin: 9px 0 0;
  width: calc(100% - 120px);
  height: auto;
}
.articles--filter {
  width: 110px;
  height: auto;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.articles--filter-btn {
  color: #000000;
  background: #b7b8b8 url(../img/articles--filter-btn.png) 6px center no-repeat;
  text-decoration: none;
  padding: 0 0 0 40px;
  -webkit-background-size: auto 20px;
  -moz-background-size: auto 20px;
  -o-background-size: auto 20px;
  background-size: auto 20px;
  display: block;
  font-size: 14px;
  line-height: 32px;
}
.articles--filter-box {
  background: #b7b8b8;
  z-index: 10;
  padding: 5px 10px;
  position: absolute;
  top: 32px;
  right: auto;
  bottom: auto;
  left: -10px;
  width: 240px;
  height: auto;
  display: none;
}
.articles--filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.articles--filter-list > li {
  border-bottom: 1px solid #979897;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.articles--filter-list > li:last-of-type {
  border: none;
}
.articles--filter-list > li > a {
  text-decoration: none;
  color: #000000;
  padding: 0 10px;
  font-size: 16px;
  line-height: 35px;
  display: block;
}
.articles--filter-list > li > i {
  font-style: normal;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  display: block;
  font-size: 16px;
  line-height: 35px;
}
.articles--filter-list > li > i.active {
  display: none;
}
.articles--filter-list > li ul {
  list-style: none;
  margin: 5px 0 10px 10px;
  padding: 0;
  color: #626262;
  display: none;
}
.articles--filter-list > li ul li.sub.active ul {
  display: block;
}
.articles--filter-list > li.active > i.non-active {
  display: none;
}
.articles--filter-list > li.active > i.active {
  display: block;
}
.articles--filter-list > li.active > ul {
  display: block;
}
.article {
  margin: 0 0 10px;
  text-decoration: none;
  color: #000000;
  display: block;
}
.article--inner {
  background: #ffffff;
  border-bottom: 2px solid #d5d5d5;
  padding: 8px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.article--inner.pad {
  padding: 8px 8px 8px 118px;
}
.article--image {
  width: 100px;
  height: auto;
  position: absolute;
  top: 8px;
  right: auto;
  bottom: auto;
  left: 8px;
}
.article--image img {
  display: block;
  width: 100%;
  height: auto;
}
.article--image-big img {
  display: block;
  width: 100%;
  height: auto;
}
.article--info {
  min-width: initial;
  min-height: 62px;
}
.article--text {
  margin: 0 0 0 -110px;
}
.article--title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.article--user {
  margin: 5px 0;
  text-decoration: none;
  padding: 0 0 0 24px;
  background: url(../img/article--user.png) left center no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
}
.article--photo {
  margin: 5px 12px 5px 0;
  padding: 0 0 0 30px;
  background: url(../img/article--photo.png) left center no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
}
.article--height {
  margin: 5px 0;
  padding: 0 0 0 34px;
  background: url(../img/article--height.png) left center no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
}
.article--desc {
  border-left: 3px solid #f1f1f1;
  padding: 0 0 0 10px;
}
.article--tools {
  border-top: 1px solid #b1b0b0;
  margin: 6px 0 0 -160px;
  padding: 10px 0 2px;
}
.article--tags span {
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
}
.article--tags span.bold {
  margin: 0 0 0 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.article--tags a {
  color: #000000;
  margin: 0 0 0 6px;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
}
.article--category a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}
.article--slider {
  margin: 20px -8px -1px;
}
.article--slider .slide {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.article--slider .slide img {
  display: block;
  width: 100%;
  height: auto;
}
.article--slider .slide .image {
  overflow: hidden;
  max-width: auto;
  max-height: 400px;
}
.article--slider .slide .text {
  padding: 8px 8px 24px;
  font-size: 14px;
  line-height: 22px;
}
.article--slider .slide .text p {
  margin: 0 0 15px;
}
.article--slider .slide .text p.title {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
.article--slider .slick-arrow {
  z-index: 10;
  border: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6) url(../img/slick--arrows.png) no-repeat;
  font-size: 0;
  line-height: 0;
  width: 60px;
  height: 44px;
}
.article--slider .slick-prev {
  position: absolute;
  top: 20%;
  right: auto;
  bottom: auto;
  left: 0;
}
.article--slider .slick-next {
  background-position: -60px 0;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: auto;
  left: auto;
}
.article--slider .slick-dots {
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 20px;
  left: 0;
  display: block;
  font-size: 0;
  line-height: 0;
}
.article--slider .slick-dots li {
  margin: 0 6px;
  background: #5a5b5c;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.article--slider .slick-dots li.slick-active {
  background: #ee9200;
  -webkit-box-shadow: 0 0 0 2px #ee9200;
  -moz-box-shadow: 0 0 0 2px #ee9200;
  box-shadow: 0 0 0 2px #ee9200;
}
.article--slider .slick-dots li button {
  display: none;
}
.related--slider {
  margin-bottom: 20px;
}
.related--slider .slide {
  padding-right: 20px;
  width: 270px;
  height: auto;
}
.one {
  padding-bottom: 20px;
}
.one--author {
  background: #ffffff;
  border-bottom: 2px solid #d5d5d5;
  padding: 8px;
  margin: 40px 0 20px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.one--author-avatar {
  overflow: hidden;
  border: 1px solid #ee9200;
  position: absolute;
  top: -25px;
  right: auto;
  bottom: auto;
  left: 0;
  width: 50px;
  height: auto;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.one--author-avatar img {
  display: block;
  width: 100%;
  height: auto;
}
.one--author-line {
  text-decoration: none;
  position: absolute;
  top: -25px;
  right: auto;
  bottom: auto;
  left: 60px;
  font-size: 14px;
  line-height: 25px;
  display: block;
}
.one--author-name {
  margin: -8px 0 2px 52px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}
.one .intro--slider {
  margin: 0 -10px 20px;
}
.one .news--item-title {
  margin: 0 0 10px;
}
.one--inner {
  background: #ffffff;
  border-bottom: 2px solid #d5d5d5;
  padding: 8px;
  margin: 0 0 20px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.one--inner .article--tools {
  margin: 0;
}
.one--inner .med-img {
  float: left;
  margin: 7px 10px 10px 0;
  width: 180px;
  height: auto;
  display: block;
}
.one--inner p {
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 20px;
}
.one--inner-avatar {
  overflow: hidden;
  border: 1px solid #ee9200;
  position: absolute;
  top: -25px;
  right: 0;
  bottom: auto;
  left: auto;
  width: 50px;
  height: auto;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.one--inner-avatar img {
  display: block;
  width: 100%;
  height: auto;
}
.one--inner-name {
  color: #ee9200;
  font-size: 14px;
  line-height: 22px;
  position: absolute;
  top: 0;
  right: 60px;
  bottom: auto;
  left: auto;
}
.one--inner-text1 {
  padding: 20px 0 0;
}
.one--info {
  padding: 10px 0 0;
  margin: 0 -10px;
  border-bottom: 1px solid #ee9200;
  background: center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: auto;
  height: 150px;
}
.one--info-image {
  margin: 0 auto;
  border: 1px solid #ee9200;
  width: 110px;
  height: auto;
}
.one--info-image img {
  display: block;
  width: 100%;
  height: auto;
}
.one--info-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
}
.one--info-date {
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.one--info-date i {
  margin: 0 15px 0 0;
  background: url(../img/one--info-date.png) center center no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
}
.one--info-date span {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
}
.trips {
  margin: 0 0 10px;
  font-size: 0;
  line-height: 0;
}
.trips a {
  margin: 0 10px 10px 0;
  padding: 0 10px;
  background: #ee9200;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 28px;
  display: inline-block;
  vertical-align: top;
}
.tabs--items {
  margin: -8px 0 10px;
  font-size: 0;
  line-height: 0;
}
.tabs--items a {
  padding: 0 5px;
  color: #ffffff;
  text-decoration: none;
  background: #868685;
  margin: 0 5px 0 0;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 24px;
}
.tabs--items a.active {
  padding: 0 10px;
  background: #ee9200;
  font-size: 14px;
  line-height: 28px;
}
.tabs--box {
  display: none;
}
.tabs--box.shown {
  display: block;
}
.comments {
  margin-bottom: 20px;
}
.comments--form {
  background: #ffffff;
  padding: 0 90px 0 0;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.comments--form input {
  border: none;
  background: none;
  text-transform: uppercase;
  padding: 0 0 0 8px;
  display: block;
  width: 100%;
  height: 44px;
  font-size: 14px;
  line-height: 44px;
}
.comments--form button {
  border: none;
  color: #ffffff;
  padding: 0;
  background: #ee9200;
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: auto;
  left: auto;
  width: 80px;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
}
.comment {
  padding: 0 0 10px 60px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.comment.sub {
  background: url(../img/comment--sub.png) left 15px no-repeat;
  padding-left: 85px;
  -webkit-background-size: auto 15px;
  -moz-background-size: auto 15px;
  -o-background-size: auto 15px;
  background-size: auto 15px;
}
.comment.sub .comment--avatar {
  left: 25px;
}
.comment--avatar {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 50px;
  height: auto;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.comment--avatar img {
  display: block;
  width: 100%;
  height: auto;
}
.comment--inner {
  background: #ffffff;
  padding: 4px 8px;
}
.comment--text {
  font-size: 15px;
  line-height: 22px;
}
.comment--info {
  font-size: 12px;
  line-height: 20px;
}
.comment--author {
  text-decoration: none;
}
.comment--date {
  color: #9a9898;
}
.foot {
  background: #d5d5d5;
  padding: 3px 0 0;
}
.foot--socials {
  margin: 0 auto 16px;
  padding: 8px 0 0 2px;
  background: url(../img/foot--socials.png) center center no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 307px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.foot--socials a {
  display: inline-block;
  vertical-align: top;
  width: 27px;
  height: 27px;
}
.foot--socials a:nth-child(1) {
  margin: 0 45px 0 0;
}
.foot--socials a:nth-child(2) {
  margin: 0 108px 0 0;
}
.foot--socials a:nth-child(3) {
  margin: 0 42px 0 0;
}
.foot--links {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0 0 10px;
  font-size: 0;
  line-height: 0;
}
.foot--links li {
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
}
.foot--links li a {
  color: #000000;
  text-decoration: none;
}
.foot--links li span {
  padding: 0 10px;
}
.foot--form {
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.foot--form input {
  margin: 0 4px 2px 0;
  padding: 0 6px;
  border: 1px solid #b5b5b5;
  display: inline-block;
  vertical-align: top;
  width: 190px;
  height: 40px;
  font-size: 14px;
  line-height: 38px;
}
.foot--form button {
  padding: 0;
  border: none;
  background: #ee9200;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
}
.foot--form span {
  padding: 1px 0 0;
  color: #6c6c6c;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 20px;
}
.foot--copy {
  padding: 10px 0 15px;
  color: #858484;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
.menu {
  z-index: 1100;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.menu--close {
  border: 3px solid #ffffff;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: auto;
  left: auto;
  width: 35px;
  height: 35px;
}
.menu--close:before,
.menu--close:after {
  background: #ffffff;
  content: "";
  width: 60px;
  height: 3px;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
}
.menu--close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu--close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.menu--inner {
  background: #1a1719;
  overflow: scroll;
  width: 100%;
  height: 100%;
  max-width: initial;
  max-height: 100%;
}
.menu--login {
  margin: 9px 0 25px;
  padding: 0 0 0 140px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: auto;
  height: 90px;
  font-size: 25px;
  line-height: 90px;
}
.menu--login img {
  overflow: hidden;
  border: 5px solid #fda418;
  display: block;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 20px;
  width: 90px;
  height: 90px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.menu--links > ul {
  list-style: none;
  margin: 0 0 25px;
  padding: 0;
  border-bottom: 1px solid #28272d;
}
.menu--links > ul > li {
  border-top: 1px solid #28272d;
  border-bottom: 1px solid #181517;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.menu--links > ul > li:first-of-type {
  border-top: none;
}
.menu--links > ul > li > a,
.menu--links > ul > li > span {
  text-decoration: none;
  color: #ffffff;
  padding: 0 20px;
  display: block;
  font-size: 20px;
  line-height: 50px;
}
.menu--links > ul > li > span {
  padding: 5px 20px 0;
  font-size: 20px;
  line-height: 40px;
}
.menu--links > ul > li > i {
  background: url(../img/menu--links-arrow.png) no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  position: absolute;
  top: 17px;
  right: 22px;
  bottom: auto;
  left: auto;
  width: 27px;
  height: 15px;
}
.menu--links > ul > li.sub {
  padding-bottom: 5px;
}
.menu--links > ul > li > ul {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
  display: none;
}
.menu--links > ul > li > ul > li {
  display: block;
}
.menu--links > ul > li > ul > li > a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 30px;
  font-size: 20px;
  line-height: 50px;
}
.menu--settings {
  color: #ffffff;
  text-decoration: none;
  background: url(../img/menu--settings.png) 20px center no-repeat;
  padding: 0 0 0 65px;
  margin: 0 0 20px;
  -webkit-background-size: auto 29px;
  -moz-background-size: auto 29px;
  -o-background-size: auto 29px;
  background-size: auto 29px;
  display: block;
  font-size: 20px;
  line-height: 50px;
}
.login {
  padding: 5px;
  z-index: 1100;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.login--close {
  border: 2px solid #ed9322;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 13px;
  right: 13px;
  bottom: auto;
  left: auto;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.login--close:before,
.login--close:after {
  background: #ed9322;
  content: "";
  width: 15px;
  height: 2px;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
}
.login--close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.login--close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.login--inner {
  background: #2f2c2b;
  overflow: scroll;
  padding: 25px 11px 0;
  max-width: initial;
  max-height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.login--title {
  text-align: center;
  color: #ed9322;
  font-size: 15px;
  line-height: 20px;
}
.login--label {
  padding: 10px 0 5px;
  font-size: 14px;
  line-height: 20px;
}
.login--input {
  margin: 0 0 15px;
}
.login--input input {
  border: none;
  padding: 0 6px;
  display: block;
  width: 100%;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.login--submit button {
  border: none;
  background: #ed9322 url(../img/login.png) 10px top no-repeat;
  color: #ffffff;
  padding: 0 0 0 55px;
  text-align: left;
  -webkit-background-size: 26px auto;
  -moz-background-size: 26px auto;
  -o-background-size: 26px auto;
  background-size: 26px auto;
  display: block;
  width: 100%;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-size: 15px;
  line-height: 36px;
}
.login--or {
  text-align: center;
  padding: 10px 0;
}
.login--or a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}
.login--socials a {
  background: #ed9322;
  color: #ffffff;
  padding: 0 0 0 55px;
  margin: 0 0 15px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-size: 15px;
  line-height: 36px;
}
.login--socials a:last-of-type {
  margin: 0;
}
.login--socials a.fb {
  background: #48629b url(../img/login.png) 10px -36px no-repeat;
  -webkit-background-size: 26px auto;
  -moz-background-size: 26px auto;
  -o-background-size: 26px auto;
  background-size: 26px auto;
}
.login--socials a.gp {
  background: #dc4b38 url(../img/login.png) 10px -72px no-repeat;
  -webkit-background-size: 26px auto;
  -moz-background-size: 26px auto;
  -o-background-size: 26px auto;
  background-size: 26px auto;
}
.login--socials a.tw {
  background: #23b0e6 url(../img/login.png) 10px -108px no-repeat;
  -webkit-background-size: 26px auto;
  -moz-background-size: 26px auto;
  -o-background-size: 26px auto;
  background-size: 26px auto;
}
.visible-xs,
.visible-xs-ib,
.visible-sm,
.visible-sm-ib {
  display: none;
}
@media (min-width: 768px) {
  .visible-sm {
    display: block;
  }
  .visible-sm-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-sm {
    display: none!important;
  }
  .head {
    padding: 0 120px 0 80px;
  }
  .head--logo {
    background: url(../img/head--logo-sm.png) center center no-repeat;
    display: block;
    -webkit-background-size: auto 85%;
    -moz-background-size: auto 85%;
    -o-background-size: auto 85%;
    background-size: auto 85%;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 80px;
    height: 55px;
  }
  .head--back {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 110px;
    height: auto;
  }
  .head--anuncio {
    position: absolute;
    top: 50%;
    right: 180px;
    bottom: auto;
    left: 130px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: auto;
    height: auto;
  }
  .head--input {
    display: block;
  }
  .head.search .head--logo {
    display: block;
  }
  .head.search .head--input {
    display: block;
  }
  .head.harticles {
    padding: 0 120px 0 80px;
  }
  .head.harticles .head--input {
    display: none;
  }
  .head.harticles.search .head--anuncio {
    display: none;
  }
  .head.harticles.search .head--input {
    display: block;
  }
  .head.harticle {
    padding: 0 120px 0 120px;
  }
  .head.harticle.search .head--back {
    display: block;
  }
  .one--info {
    padding-top: 20px;
    width: auto;
    height: 180px;
  }
  .news--item {
    width: 50%;
    height: auto;
  }
  .article--inner.pad {
    padding-left: 168px;
  }
  .article--image {
    width: 150px;
    height: auto;
  }
  .article--info {
    min-width: initial;
    min-height: initial;
  }
  .article--text {
    margin: 0;
  }
  .related--slider .slide {
    width: 700px;
    height: auto;
  }
  .foot {
    padding-top: 20px;
  }
  .foot--socials {
    -webkit-transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    -ms-transform: scale(1.4, 1.4);
    -o-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
  }
  .foot--links {
    margin: 25px 0 15px;
  }
  .foot--form input {
    padding: 0 15px;
    width: 450px;
    height: 48px;
  }
  .foot--form button {
    width: 50px;
    height: 50px;
  }
  .menu--inner {
    width: 400px;
    height: auto;
  }
  .login--inner {
    margin: 0 auto;
    width: 400px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .visible-xs {
    display: block;
  }
  .visible-xs-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-xs {
    display: none!important;
  }
  .articles--title .news--item-name {
    font-size: 12px;
    line-height: 20px;
  }
  .one--inner .article--tags,
  .one--inner .article--category {
    float: none;
    width: auto;
    height: auto;
  }
  .one--inner .article--tags {
    margin: 0 0 8px;
  }
  .one--inner .article--tags span.bold {
    margin-left: 0;
  }
}
