/* line 3, /home/ignat/Documents/zonaradical/app/assets/stylesheets/admin.css.scss */
.admin-form {
  font-size: 22px;
}
/* line 5, /home/ignat/Documents/zonaradical/app/assets/stylesheets/admin.css.scss */
.admin-form .field {
  width: 100%;
  margin-bottom: 10px;
}
/* line 9, /home/ignat/Documents/zonaradical/app/assets/stylesheets/admin.css.scss */
.admin-form .field label {
  text-align: right;
  width: 200px;
  display: inline-block;
}

/* line 17, /home/ignat/Documents/zonaradical/app/assets/stylesheets/admin.css.scss */
.admin-h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
