@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= reset














 */
/*	-------------------------------------------------
	Базовые стили сайта | Base site styles
	------------------------------------------------- */
/* line 36, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
html {
  min-width: 1024px;
}

/* line 40, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
body {
  font: normal normal 14px / 24px "HelveticaNeueRegular", Arial, Helvetica, sans-serif;
  /* Arial on Windows - http://mky.be/fontstack */
  color: #4e4e4e;
  /* 646464 */
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  min-width: 1024px;
  position: relative;
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f6 0%, #fefefe 100%);
  /* W3C */
}
/* line 60, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
body:after {
  content: '';
  display: block;
  height: 410px;
}

/* line 67, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
a {
  color: #fda418;
  text-decoration: underline;
}
/* line 70, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
a:hover {
  text-decoration: none;
}
/* line 73, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
a.ajax-link {
  text-decoration: none;
  border-bottom: 1px dashed;
}

/* line 79, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
p {
  margin-bottom: 15px;
}
/* line 81, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
p.green {
  color: green;
}

/* line 86, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
b {
  font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
}

/* line 90, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
h1 {
  font: normal normal 17px / 20px "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #686868;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 4px solid #f78e00;
  padding-bottom: 6px;
}

/* line 98, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
a.video-header {
  font: normal normal 17px / 20px "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #686868;
  text-decoration: none;
}

/* line 105, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
h3 {
  font: normal normal 20px / 22px "HelveticaNeueMedium", Arial, Helvetica, sans-serif;
  color: #666;
  text-transform: uppercase;
  margin-bottom: 17px;
}

/* h5 is the same as h1 to be used on the aside */
/* line 112, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
h5 {
  font: normal normal 17px / 20px "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #686868;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 4px solid #f78e00;
  padding-bottom: 6px;
}

/* line 120, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
h6 {
  font: normal normal 17px / 20px "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #686868;
  text-transform: uppercase;
  padding-top: 26px;
  border-bottom: 4px solid #f78e00;
}

/* line 128, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
label {
  font-family: "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  display: block;
  margin-top: 22px;
  color: #686868;
}
/* line 133, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
label.nrml {
  font-family: 'HelveticaNeueRegular', Arial, Helvetica, sans-serif;
}

/* line 139, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
input[type=text], input[type=password], input[type=email] {
  height: 15px;
  width: 194px;
  border: 1px solid #c5c4c4;
  background: #fff;
  padding: 12px 15px;
  font: normal normal 13px / 15px "HelveticaNeueRegular", Arial, Helvetica, sans-serif;
  color: #686868;
  margin-right: 10px;
}
/* line 148, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
input[type=text].order, input[type=password].order, input[type=email].order {
  width: 8px;
}
/* line 152, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
input[type=file] {
  padding: 12px 15px;
  font: normal normal 10px / 13px "HelveticaNeueRegular", Arial, Helvetica, sans-serif;
}

/* line 158, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
select {
  background: #fff;
  width: 194px;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 41px;
  color: #686868;
  font: normal normal 13px / 15px "HelveticaNeueRegular", Arial, Helvetica, sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
}

/* line 171, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c5c4c4;
  background: #fff;
  font: normal normal 13px / 15px "HelveticaNeueRegular", Arial, Helvetica, sans-serif;
  color: #686868;
  padding: 12px 15px;
  resize: none;
}

/* line 182, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
input[type=submit] {
  display: block;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  box-shadow: none;
  height: 42px;
  min-width: 128px;
  font-size: 16px;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  background: #ee9200;
}
/* line 193, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
input[type=submit]:focus {
  text-indent: 0;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  outline: none;
}

/* line 203, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

/* line 208, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

/* line 213, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

/*	-------------------------------------------------
	Стили для печатной версии | Print styles
	------------------------------------------------- */
/*	-------------------------------------------------
	Стили блоков, содержимого страниц | Other styles
	------------------------------------------------- */
/* line 227, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.inner {
  /* Обертка страницы */
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

/* line 234, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header {
  position: relative;
  height: 240px;
  background: url(board.png) no-repeat center bottom;
  margin-top: 5px;
  margin-bottom: 21px;
  /* admin menu */
}
/* line 240, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header .inner {
  padding-top: 158px;
  height: 87px;
}
/* line 244, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header a.logo {
  position: absolute;
  top: 75px;
  left: 0;
  width: 257px;
  height: 53px;
  display: block;
}
/* line 251, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header a.logo img {
  width: 257px;
  height: 53px;
  display: block;
}
/* line 257, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header .enter-block {
  position: absolute;
  top: 27px;
  right: 48px;
}
/* line 261, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header .enter-block a {
  font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
}
/* line 264, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header .enter-block .registered span {
  color: #626262;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  padding-left: 26px;
  background: url(enter-icon.png) no-repeat left center;
}
/* line 269, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header .enter-block .registered span a {
  text-decoration: none;
}
/* line 273, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header .enter-block .non-registered {
  color: #fda418;
}
/* line 275, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header .enter-block .non-registered span.signIn-dialog {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
/* line 281, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header .enter-block .non-registered span.fb {
  width: 19px;
  height: 19px;
  display: inline-block;
  background: url(social-icons-small.png) no-repeat 0 0;
  vertical-align: middle;
  margin: 0 4px;
}
/* line 289, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header .enter-block .non-registered span.tw {
  width: 19px;
  height: 19px;
  display: inline-block;
  background: url(social-icons-small.png) no-repeat 0 0;
  vertical-align: middle;
  margin: 0 4px;
  background-position: -27px 0;
}
/* line 299, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header .enter-block .non-registered .login {
  text-decoration: none;
}
/* line 304, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav {
  height: 58px;
  background: #333333;
  position: relative;
}
/* line 309, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.menu {
  margin: 0;
  list-style: none;
}
/* line 312, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.menu > li {
  float: left;
}
/* line 314, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.menu > li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  height: 58px;
  line-height: 58px;
  padding: 0 18px;
}
/* line 324, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.menu > li > a.active {
  cursor: default;
  background: #ee9200;
}
/* line 330, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.menu li a:hover {
  background: #ee9200;
}
/* line 333, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.menu li.submenu-item {
  position: relative;
}
/* line 334, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.menu li.submenu-item > a {
  background: url(submenu-down.png) no-repeat 97% center;
}
/* line 336, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.menu li.submenu-item > a.active {
  background: url(submenu-down.png) no-repeat 97% center #ee9200;
}
/* line 339, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.menu li.submenu-item > a:hover {
  background: url(submenu-down.png) no-repeat 97% center #ee9200;
}
/* line 347, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.menu > li > a span {
  color: #ee9200;
}
/* line 350, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.menu > li > a.active span, header nav ul.menu > li > a:hover span {
  color: #333;
}
/* line 355, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.submenu {
  margin: 0;
  border-top: 1px solid #fff;
  list-style: none;
  background: #333;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1500;
  width: 235px;
  display: none;
}
/* line 366, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.submenu > li > a {
  height: auto;
  line-height: 20px;
  padding: 12px 35px 12px 18px;
}
/* line 371, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.submenu li.subsubmenu-item {
  position: relative;
}
/* line 373, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.submenu li.subsubmenu-item > a {
  background: url(submenu-right.png) no-repeat 87% center;
}
/* line 375, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.submenu li.subsubmenu-item > a:hover {
  background: url(submenu-right.png) no-repeat 87% center #ee9200;
}
/* line 381, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.subsubmenu {
  margin: 0;
  border-left: 1px solid #fff;
  list-style: none;
  background: #333;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 1500;
  width: 235px;
  display: none;
}
/* line 392, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav ul.subsubmenu li a {
  height: auto;
  line-height: 20px;
  padding: 12px 35px 12px 18px;
}
/* line 401, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header div.flash {
  height: 30px;
  position: relative;
  line-height: 30px;
  color: #fff;
  padding: 5px;
  opacity: .85;
  z-index: 100;
}
/* line 410, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header div.flash-notification a {
  color: #fff;
}
/* line 412, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header div.flash-notification a.mark_as_read {
  position: absolute;
  right: 15px;
}
/* line 418, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header div.flash-notice {
  background: #fda418;
}
/* line 422, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header div.flash-alert {
  background: red;
}
/* line 426, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header div.flash-warning {
  background: yellow;
}
/* line 430, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin {
  height: 30px;
  background: #458b92;
  position: relative;
}
/* line 435, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.menu {
  margin: 0;
  list-style: none;
}
/* line 438, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.menu > li {
  float: left;
}
/* line 440, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.menu > li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 8px;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
}
/* line 450, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.menu > li > a.active {
  cursor: default;
  background: #ee9200;
}
/* line 456, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.menu li a:hover {
  background: #ee9200;
}
/* line 459, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.menu li.submenu-item {
  position: relative;
}
/* line 460, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.menu li.submenu-item > a {
  padding-right: 15px;
  background: url(submenu-down.png) no-repeat 97% center;
}
/* line 462, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.menu li.submenu-item > a:hover {
  background: url(submenu-down.png) no-repeat 97% center #ee9200;
}
/* line 470, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.menu > li > a span {
  color: #ee9200;
}
/* line 473, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.menu > li > a.active span, header nav.admin ul.menu > li > a:hover span {
  color: #333;
}
/* line 478, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.submenu {
  margin: 0;
  border-top: 1px solid #fff;
  list-style: none;
  background: #333;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1500;
  width: 235px;
  display: none;
}
/* line 489, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.submenu > li > a {
  height: auto;
  line-height: 20px;
  padding: 12px 35px 12px 18px;
}
/* line 494, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.submenu li.subsubmenu-item {
  position: relative;
}
/* line 496, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.submenu li.subsubmenu-item > a {
  background: url(submenu-right.png) no-repeat 87% center;
}
/* line 498, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.submenu li.subsubmenu-item > a:hover {
  background: url(submenu-right.png) no-repeat 87% center #ee9200;
}
/* line 504, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.subsubmenu {
  margin: 0;
  border-left: 1px solid #fff;
  list-style: none;
  background: #333;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 1500;
  width: 235px;
  display: none;
}
/* line 515, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header nav.admin ul.subsubmenu li a {
  height: auto;
  line-height: 20px;
  padding: 12px 35px 12px 18px;
}

/* line 526, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.menu li.submenu-item:hover ul.submenu {
  display: block;
}

/* line 529, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.menu li.submenu-item:hover > a {
  background: #ee9200;
}

/* line 532, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.menu li.subsubmenu-item:hover ul.subsubmenu {
  display: block;
}

/* line 535, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.menu li.subsubmenu-item:hover > a {
  background: #ee9200;
}

/* line 539, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header .search-field {
  position: absolute;
  width: 220px;
  height: 42px;
  right: 7px;
  top: 8px;
}
/* line 545, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header .search-field input {
  width: 175px;
  height: 18px;
  background: #575757;
  border: 0;
  padding: 12px 35px 12px 10px;
  font: normal normal 15px / 18px "HelveticaNeueRegular", Arial, Helvetica, sans-serif;
  color: #fff;
}
/* line 554, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
header .search-field a {
  display: block;
  width: 15px;
  height: 15px;
  background: url(search-icon.png) no-repeat;
  position: absolute;
  right: 8px;
  top: 14px;
}

/* line 565, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
section.top-section {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 37px;
}

/* line 574, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.content {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

/* line 580, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.main-content {
  width: 701px;
  float: left;
  margin-bottom: 20px;
}

/* line 586, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.news-slider {
  margin-bottom: 43px;
  margin-top: -10px;
}
/* line 589, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.news-slider .news-item {
  border-top: 1px solid #dbdbdb;
  padding: 9px 0 0;
}
/* line 594, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.news-slider .slide:first-child .news-item, .news-slider .slide.no-border .news-item {
  border-top: 1px solid transparent;
}
/* line 599, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.news-slider .news-item a.img-wrap {
  display: block;
  float: left;
  width: 127px;
  height: 86px;
}
/* line 605, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.news-slider .news-item img {
  display: block;
  width: 127px;
  height: 86px;
  border: 1px solid #c5c4c4;
}
/* line 611, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.news-slider .news-item .details {
  margin: 0 0 0 144px;
}
/* line 614, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.news-slider .news-item a.date {
  text-decoration: none;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
}
/* line 618, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.news-slider .news-item a.body {
  text-decoration: none;
  font-family: 'HelveticaNeue', Arial, Helvetica, sans-serif;
  color: #535353;
}
/* line 624, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.news-slider .news-item p {
  margin-bottom: 2px;
  margin-top: -5px;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
}
/* line 630, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.news-slider .slick-prev {
  height: 19px;
  width: 19px;
  top: -25px;
  background-image: url(news-slider-arrows.png);
}
/* line 636, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.news-slider .slick-next {
  height: 19px;
  width: 19px;
  top: -25px;
  background-image: url(news-slider-arrows.png);
  background-position: -19px 0;
  right: 0;
}
/* line 644, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.news-slider .slick-prev {
  right: 20px;
  left: auto;
}

/* line 650, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.item-list {
  margin: 0 0 40px;
  list-style: none;
}
/* line 653, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.item-list li {
  margin-bottom: 20px;
  padding-bottom: 11px;
  border-bottom: 1px solid #dbdbdb;
}
/* line 657, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.item-list li a.title {
  font: normal normal 15px / 1 "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  display: inline-block;
  margin: 0px 0 8px;
  margin-left: 18px;
  text-decoration: none;
  color: #686868;
}
/* line 665, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.item-list li a.img-wrap {
  display: block;
  width: 286px;
  height: 162px;
  float: left;
  margin-bottom: 10px;
}
/* line 672, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.item-list li img {
  width: 286px;
  height: 162px;
  display: block;
  border: 1px solid #c5c4c4;
}
/* line 678, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.item-list li .details {
  margin-left: 304px;
}
/* line 680, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.item-list li .details i.extra-info {
  color: #989797;
}
/* line 683, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.item-list li .details p {
  margin-bottom: 10px;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
}
/* line 688, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.item-list li p {
  margin-bottom: 10px;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
}

/* line 695, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside {
  width: 303px;
  float: right;
  margin-bottom: 20px;
}

/* line 701, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.introtext {
  position: relative;
  margin-bottom: 18px;
}

/* line 706, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.heading {
  position: relative;
  margin-bottom: 18px;
  border-bottom: 1px solid #ee9200;
}
/* line 710, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.heading a.all {
  text-decoration: none;
  float: right;
  font-size: 12px;
  line-height: 26px;
}

/* line 721, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.contest-leaders {
  margin: 0 0 48px -2px;
  list-style: none;
}
/* line 725, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.contest-leaders li {
  display: inline-block;
}
/* line 728, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.contest-leaders li img {
  width: 99px;
}
/* line 734, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.social-buttons {
  margin: 0 0 48px -2px;
  list-style: none;
  height: 59px;
}
/* line 738, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.social-buttons li {
  float: left;
  margin-left: 2px;
}
/* line 741, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.social-buttons li a {
  width: 59px;
  height: 59px;
  display: block;
  background: url(social-icons.png) no-repeat;
}
/* line 746, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.social-buttons li a.fb {
  background-position: 0 0;
}
/* line 749, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.social-buttons li a.yt {
  background-position: -61px 0;
}
/* line 752, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.social-buttons li a.tw {
  background-position: -122px 0;
}
/* line 755, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.social-buttons li a.gp {
  background-position: -183px 0;
}
/* line 758, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.social-buttons li a.rss {
  background-position: -244px 0;
}
/* line 764, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.places-list {
  margin: 0 0 39px -14px;
  list-style: none;
  overflow: hidden;
}
/* line 768, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.places-list li {
  float: left;
  margin: 0 0 11px 14px;
}
/* line 771, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.places-list li img {
  width: 144px;
  height: 144px;
  display: block;
}
/* line 776, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside ul.places-list li a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 784, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside .fb-block {
  width: 303px;
  margin-bottom: 40px;
}
/* line 787, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside .fb-block img {
  width: 303px;
}
/* line 791, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside .advert-block {
  width: 303px;
  margin-bottom: 40px;
}
/* line 794, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
aside .advert-block img {
  width: 301px;
  border: 1px solid #aaa;
  display: block;
}

/* line 802, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
a.to-top {
  display: block;
  width: 59px;
  height: 63px;
  background: url(to-top-button.png) no-repeat;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

/* line 812, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
a.inv {
  color: #b2b2b2;
  font-size: 11px;
}

/* line 816, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
p.inv {
  color: #b2b2b2;
  font-size: 11px;
}

/* Styles for Galera.html */
/* line 823, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.galera-list {
  margin: 0;
  list-style: none;
}
/* line 826, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.galera-list li {
  margin-bottom: 27px;
}
/* line 828, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.galera-list li a.img-wrap {
  width: 141px;
  height: 141px;
  float: left;
  display: block;
  margin-right: 16px;
}

/* line 839, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
img.userpic {
  width: 139px;
  height: 139px;
  display: block;
  border: 1px solid #c5c4c4;
  border-radius: 50%;
}
/* line 846, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
img.userpic-sm {
  width: 40px;
  height: 40px;
  display: block;
  /* border: 1px solid #c5c4c4; */
}
/* line 852, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
img.resortlogo {
  width: 286px;
  display: block;
  border: 1px solid #c5c4c4;
}
/* line 857, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
img.tourlogo {
  width: 190px;
  display: block;
  border: 1px solid #c5c4c4;
}
/* line 862, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
img.galsample {
  width: 150px;
  display: block;
  border: 1px solid #c5c4c4;
  margin-right: 16px;
}

/* line 871, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.galera-list li .details {
  float: left;
  width: 540px;
}
/* line 875, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.galera-list a.name {
  font: normal normal 18px / 20px "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #646464;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: -2px;
}
/* line 883, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.galera-list p {
  color: #646464;
}

/* Styles for resort.html */
/* line 890, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.resort-card {
  position: relative;
  margin-bottom: 20px;
  padding-top: 3px;
}
/* line 894, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.resort-card .leftcol {
  width: 286px;
  float: left;
  margin-right: 16px;
}
/* line 899, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.resort-card .userpic {
  margin-bottom: 20px;
}
/* line 902, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.resort-card .reputation {
  margin-bottom: 10px;
}

/* line 908, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.resort-card .rightcol {
  width: 395px;
  float: left;
}
/* line 913, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.resort-card .title .name {
  text-transform: uppercase;
  font: normal normal 18px / 20px "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #646464;
  margin-right: 10px;
}

/* line 922, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.resort-card p.descr {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* Styles for Tours  */
/* line 929, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.tour-card {
  position: relative;
  margin-bottom: 20px;
  padding-top: 3px;
}
/* line 933, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.tour-card .leftcol {
  width: 200px;
  float: left;
  margin-right: 16px;
}
/* line 938, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.tour-card .userpic {
  margin-bottom: 20px;
}
/* line 941, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.tour-card .reputation {
  margin-bottom: 10px;
}
/* line 944, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.tour-card .rightcol {
  width: 321px;
  float: left;
}
/* line 948, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.tour-card .parti-col {
  width: 160px;
  float: left;
}
/* line 951, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.tour-card .parti-col .ava-col {
  width: 40px;
  float: left;
}
/* line 955, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.tour-card .parti-col .name-col {
  width: 100px;
  float: left;
  padding: 10px;
}
/* line 962, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.tour-card .title .name {
  text-transform: uppercase;
  font: normal normal 18px / 20px "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #646464;
  margin-right: 10px;
}
/* line 969, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.tour-card p.descr {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 972, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.tour-card p.descr b {
  margin-top: 10px;
}

/* Styles for profile.html */
/* line 980, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-card {
  position: relative;
  margin-bottom: 20px;
  padding-top: 3px;
}
/* line 984, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-card .leftcol {
  width: 141px;
  float: left;
  margin-right: 16px;
}
/* line 989, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-card .userpic {
  margin-bottom: 20px;
}
/* line 992, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-card .reputation {
  margin-bottom: 10px;
}

/* line 997, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stars {
  margin: 0;
  list-style: none;
  height: 17px;
}
/* line 1001, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stars li {
  float: left;
  background: url(stars.png) no-repeat;
  height: 17px;
  width: 17px;
}
/* line 1006, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stars li.full {
  background-position: 0 0;
}
/* line 1009, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stars li.empty {
  background-position: -17px 0;
}

/* line 1017, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-card .rightcol {
  width: 540px;
  float: left;
}
/* line 1022, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-card .title .name {
  text-transform: uppercase;
  font: normal normal 18px / 20px "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #646464;
  margin-right: 10px;
}
/* line 1028, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-card .title .online {
  display: inline-block;
  height: 21px;
  padding: 0 3px;
  background: #2ba106;
  color: #fff;
  line-height: 21px;
  text-transform: uppercase;
  margin-right: 10px;
}
/* line 1038, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-card .title .activity {
  color: #646464;
}

/* line 1044, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-athl-card {
  position: relative;
  margin-bottom: 2px;
  padding-top: 3px;
}
/* line 1048, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-athl-card .leftcol {
  width: 141px;
  float: left;
  margin-right: 16px;
}
/* line 1053, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-athl-card .reputation {
  margin-bottom: 10px;
}
/* line 1056, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-athl-card .rightcol {
  width: 374px;
  float: left;
}
/* line 1061, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-athl-card .title .name {
  text-transform: uppercase;
  font: normal normal 18px / 20px "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #646464;
  margin-right: 10px;
}
/* line 1067, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-athl-card .title .online {
  display: inline-block;
  height: 21px;
  padding: 0 3px;
  background: #2ba106;
  color: #fff;
  line-height: 21px;
  text-transform: uppercase;
  margin-right: 10px;
}
/* line 1077, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-athl-card .title .activity {
  color: #646464;
}
/* line 1081, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-athl-card .galcol {
  width: 166px;
  float: left;
}

/* line 1091, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-agnc-card {
  position: relative;
  margin-bottom: 12px;
  padding-top: 3px;
}
/* line 1095, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-agnc-card .leftcol {
  width: 286px;
  float: left;
  margin-right: 16px;
}
/* line 1100, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-agnc-card .reputation {
  margin-bottom: 10px;
}
/* line 1103, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-agnc-card .rightcol {
  width: 399px;
  float: left;
}
/* line 1108, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-agnc-card .title .name {
  text-transform: uppercase;
  font: normal normal 18px / 20px "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #646464;
  margin-right: 10px;
}
/* line 1114, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-agnc-card .title a.name {
  text-transform: uppercase;
  text-decoration: none;
  font: normal normal 18px / 20px "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #646464;
  margin-right: 10px;
}
/* line 1121, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-agnc-card .title .online {
  display: inline-block;
  height: 21px;
  padding: 0 3px;
  background: #2ba106;
  color: #fff;
  line-height: 21px;
  text-transform: uppercase;
  margin-right: 10px;
}
/* line 1131, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.profile-agnc-card .title .activity {
  color: #646464;
}

/* line 1137, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list {
  margin: 0;
  list-style: none;
}
/* line 1141, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list li b {
  margin-right: 5px;
}
/* line 1144, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list li.contacts b {
  display: inline-block;
  vertical-align: top;
}
/* line 1148, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list li.details b {
  display: inline-block;
  vertical-align: top;
}
/* line 1153, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span {
  display: block;
  padding-left: 25px;
}
/* line 1156, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.air {
  background: url(air-icon.png) no-repeat left center;
}
/* line 1159, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.pic-base {
  background: url(pics-base-icon.png) no-repeat left center;
}
/* line 1162, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.drop {
  background: url(drop-icon.png) no-repeat left center;
}
/* line 1165, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.lifts {
  background: url(lifts-icon.png) no-repeat left center;
}
/* line 1168, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.slopes {
  background: url(slopes-icon.png) no-repeat left center;
}
/* line 1171, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.map {
  background: url(map-icon.png) no-repeat left center;
}
/* line 1174, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.email {
  background: url(email-icon.png) no-repeat left center;
}
/* line 1177, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.web {
  background: url(web-icon.png) no-repeat left center;
}
/* line 1180, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.date {
  background: url(date-icon.png) no-repeat left center;
}
/* line 1183, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.days {
  background: url(case-icon.png) no-repeat left center;
}
/* line 1186, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.style {
  background: url(style-icon.png) no-repeat left center;
}
/* line 1189, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.accom {
  background: url(accom-icon.png) no-repeat left center;
}
/* line 1192, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.price {
  background: url(price-icon.png) no-repeat left center;
}
/* line 1195, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.case {
  background: url(case-icon.png) no-repeat left center;
}
/* line 1198, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span.phone {
  background: url(../images/phone-icon.png) no-repeat left center;
}
/* line 1201, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list span a {
  color: #626262;
  text-decoration: none;
}
/* line 1206, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list .contacts-list {
  display: inline-block;
  vertical-align: top;
}
/* line 1209, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list .contacts-list span {
  display: block;
  padding-left: 25px;
}
/* line 1212, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list .contacts-list span.email {
  background: url(email-icon.png) no-repeat left center;
}
/* line 1215, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list .contacts-list span.web {
  background: url(web-icon.png) no-repeat left center;
}
/* line 1218, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list .contacts-list span.fb {
  background: url(fb-icon.png) no-repeat left center;
}
/* line 1221, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.details-list .contacts-list span a {
  color: #626262;
  text-decoration: none;
}

/* line 1229, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
p.bio {
  margin-bottom: 24px;
}
/* line 1231, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
p.bio a.read-more {
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  padding-right: 30px;
  background: url(read-more.png) no-repeat right center;
}

/* line 1239, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
p.bio2 {
  margin-bottom: 0px;
  margin-top: 40px;
}
/* line 1242, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
p.bio2 a.read-more {
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  padding-right: 30px;
  background: url(read-more.png) no-repeat right center;
}

/* line 1251, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.buttons {
  margin-bottom: 20px;
}

/* line 1255, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.button {
  display: block;
  width: 171px;
  height: 32px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 32px;
  background: #ee9200;
}

/* line 1267, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.buttons .button {
  float: left;
  margin-right: 27px;
}
/* line 1271, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.buttons .button-btm {
  display: block;
  width: 171px;
  height: 32px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 32px;
  background: #ee9200;
  float: left;
  margin-right: 27px;
  margin-bottom: 35px;
}
/* line 1284, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.buttons .nona {
  background: rgba(36, 23, 0, 0.27);
}
/* line 1287, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.buttons.right {
  position: absolute;
  right: 0;
  top: 20px;
  text-align: right;
}
/* line 1292, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.buttons.right .button {
  margin: 0 0 26px;
  float: none;
  width: auto;
  padding: 0 7px;
  display: inline-block;
}

/* Styles for articles.html */
/* line 1305, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.categories {
  margin: 0 0 40px;
  list-style: none;
}
/* line 1308, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.categories li {
  margin-bottom: 6px;
}
/* line 1310, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.categories li span.active {
  cursor: pointer;
}
/* line 1313, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.categories li a {
  color: #666;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1;
  text-decoration: none;
}
/* line 1319, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.categories li a span {
  color: #9a9999;
  margin-left: 5px;
}
/* line 1323, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.categories li a:hover {
  color: #ee9200;
  font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
}
/* line 1326, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.categories li a:hover span {
  color: #ee9200;
}
/* line 1330, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.categories li a.active {
  color: #ee9200;
  font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
  cursor: pointer;
}
/* line 1334, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.categories li a.active span {
  color: #ee9200;
}
/* line 1341, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles-list {
  margin: 0;
  list-style: none;
}
/* line 1344, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles-list li {
  position: relative;
  padding-left: 80px;
  margin-bottom: 42px;
}
/* line 1348, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles-list li .date {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
}
/* line 1353, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles-list li .date .day {
  display: block;
  height: 58px;
  padding-top: 5px;
  background: #ee9200;
  color: #fff;
  font-size: 21px;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  text-align: center;
}
/* line 1364, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles-list li .date .day span {
  font-family: 'HelveticaNeueRegular', Arial, Helvetica, sans-serif;
  font-size: 35px;
  display: block;
  line-height: 1;
}
/* line 1371, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles-list li .date .comments {
  display: block;
  height: 44px;
  padding-top: 5px;
  background: #8c8c8c;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 28px;
  line-height: 1;
  font-family: 'HelveticaNeueRegular', Arial, Helvetica, sans-serif;
  margin-bottom: 14px;
}
/* line 1384, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles-list li .date .comments span {
  font-size: 11px;
  line-height: 1;
  display: block;
}
/* line 1390, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles-list li .date .action-link {
  display: block;
  height: 22px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  line-height: 22px;
  font-size: 14px;
  background: #ee9200;
}
/* line 1402, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles-list li a.img-wrap {
  width: 619px;
  height: 245px;
  display: block;
  margin-bottom: 25px;
}
/* line 1410, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles li img {
  width: 619px;
  height: 245px;
  display: block;
}
/* line 1416, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles-list li p {
  margin-bottom: 0;
  line-height: 23px;
}
/* line 1417, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles-list li p.extra-info {
  padding: 12px 0;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  text-transform: uppercase;
  color: #9a9999;
  font-size: 11px;
  line-height: 1;
  margin-bottom: 11px;
}
/* line 1426, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles-list li p.extra-info span {
  color: #686868;
}
/* line 1433, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.articles-list li a.read-more {
  text-decoration: none;
}

/* line 1439, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
div.pagination {
  margin: 15px auto;
  list-style: none;
  text-align: center;
}
/* line 1443, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
div.pagination a, div.pagination em {
  display: inline-block;
  margin-left: 1px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  height: 40px;
  width: 35px;
  line-height: 40px;
  background: #9a9a9a;
}
/* line 1454, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
div.pagination a:hover, div.pagination em:hover {
  background: #4f4f4f;
}
/* line 1458, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
div.pagination .disabled {
  display: inline-block;
  margin-left: 1px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  height: 40px;
  width: 35px;
  line-height: 40px;
  background: #4f4f4f;
}
/* line 1469, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
div.pagination em.current {
  background: #4f4f4f;
}
/* line 1472, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
div.pagination.prev_page, div.pagination.next_page {
  width: 63px;
  color: #d3d3d3;
}

/* Styles for article-page.html */
/* line 1479, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
article {
  margin-bottom: 40px;
}
/* line 1481, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
article h3 {
  margin-bottom: 3px;
}
/* line 1484, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
article i.extra-info {
  color: #9a9999;
  font-size: 14px;
  line-height: 1;
  display: block;
  margin-bottom: 17px;
}
/* line 1491, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
article p.galdes {
  margin-bottom: 15px;
}

/* line 1496, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
gallery {
  margin-bottom: 40px;
}
/* line 1498, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
gallery h3 {
  margin-top: 13px;
  margin-bottom: 3px;
}
/* line 1502, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
gallery i.extra-info {
  color: #9a9999;
  font-size: 14px;
  line-height: 1;
  display: block;
  margin-bottom: 3px;
}
/* line 1509, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
gallery img {
  border: 1px solid #c5c4c4;
}

/* line 1513, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.levels {
  margin: 0 0 11px;
  list-style: none;
}
/* line 1516, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.levels li {
  display: inline-block;
  margin-right: 27px;
}
/* line 1519, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.levels li a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  width: 141px;
  height: 27px;
  line-height: 27px;
  font-size: 16px;
}

/* line 1532, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
article img {
  border: 1px solid #c5c4c4;
}
/* line 1534, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
article img.small-img {
  float: left;
  width: 139px;
  display: block;
  margin: 7px 16px 10px 0;
}
/* line 1540, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
article img.med-img {
  float: left;
  width: 200px;
  display: block;
  margin: 7px 16px 10px 0;
}
/* line 1546, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
article img.large-img {
  width: 700px;
  display: block;
  margin: 25px 0 20px;
}
/* line 1551, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
article img.inner-img-l {
  float: left;
  display: block;
  margin: 7px 16px 10px 0;
}
/* line 1556, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
article img.inner-img-r {
  float: right;
  display: block;
  margin: 7px 0 10px 16px;
}
/* line 1561, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
article img.inner-img-l.fr-fin {
  float: left;
  display: block;
  margin: 7px 16px 10px 0;
}
/* line 1566, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
article img.inner-img-r.fr-fin {
  float: right;
  display: block;
  margin: 7px 0 10px 16px;
}

/* line 1573, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
form.comments-form {
  padding-top: initial;
  margin-top: 20px;
}
/* line 1577, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
form.comments-form .heading {
  margin-top: 10px;
}
/* line 1581, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
form.comments-form textarea {
  width: 100%;
}
/* line 1585, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
form.comments-form textarea.highligh {
  background-color: blue;
}

/* line 1590, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list {
  margin: 10px 0 0;
  list-style: none;
}
/* line 1593, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list li {
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 20px;
}
/* line 1596, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list li.comment-reply {
  margin-left: 21px;
}
/* line 1599, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list li a.img-wrap {
  width: 64px;
  height: 64px;
  float: left;
}
/* line 1604, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list li img {
  width: 50px;
  height: 50px;
}
/* line 1609, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list .details {
  margin-left: 65px;
}
/* line 1611, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list .details p {
  line-height: 20px;
}
/* line 1613, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list .details p .emoji {
  width: 20px;
  height: 20px;
  border: none;
}
/* line 1619, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list .details div.comment-content {
  margin-left: 5px;
}
/* line 1623, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list p.title {
  overflow: hidden;
  margin-bottom: 0px;
  padding-top: 5px;
}
/* line 1627, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list p.title span {
  color: #999;
  line-height: 20px;
  float: left;
  margin-left: 5px;
}
/* line 1633, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list p.title.reply_to {
  background-color: #D5E3F9;
  border-radius: 30px;
}
/* line 1638, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list p.title a.reply_to_link {
  padding: 5px;
  border-radius: 25px;
  text-decoration: none;
  margin-right: 5px;
  float: right;
  margin-top: -5px;
}
/* line 1645, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list p.title a.reply_to_link:hover {
  transition: background-color 0.2s ease;
  background-color: #e9e9e9;
}
/* line 1649, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list p.title a.reply_to_link span {
  color: #4e4e4e;
}
/* line 1651, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.comments-list p.title a.reply_to_link span:hover {
  color: #222;
}

/* line 1659, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
form {
  margin-bottom: 10px;
  padding-top: 17px;
}

/* Styles for places.html */
/* line 1666, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list {
  margin: 0 0 70px;
  list-style: none;
}
/* line 1669, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list li {
  padding: 20px 0;
  border-bottom: 1px solid #dbdbdb;
}
/* line 1672, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list li:first-child {
  padding-top: 2px;
}
/* line 1675, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list li a.img-wrap {
  width: 286px;
  height: 162px;
  display: block;
  float: left;
  margin-right: 18px;
}
/* line 1682, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list li img {
  width: 286px;
  display: block;
  border: 1px solid #c5c4c4;
}
/* line 1687, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list li .details {
  float: left;
  width: 397px;
}
/* line 1692, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list p.name {
  font-size: 15px;
  line-height: 1;
  font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
  margin-bottom: 8px;
}
/* line 1698, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list p.others {
  font-size: 15px;
  line-height: 1;
  font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
}
/* line 1703, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list .pics-amount {
  display: inline-block;
  padding-left: 22px;
  background: url(photo-icon.png) no-repeat left;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: #686868;
}
/* line 1715, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list .video-amount {
  display: inline-block;
  padding-left: 22px;
  background: url(video-icon.png) no-repeat left;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: #686868;
}
/* line 1727, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list .drop {
  display: inline-block;
  padding-left: 22px;
  background: url(drop-icon.png) no-repeat left;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: #686868;
}
/* line 1739, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list .comments {
  display: inline-block;
  padding-left: 22px;
  background: url(comm-icon.png) no-repeat left;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: #686868;
}
/* line 1752, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list li p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}
/* line 1757, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.stations-list li i {
  color: #989797;
  font-size: 15px;
  line-height: 18px;
}

/* Styles for search.html */
/* line 1766, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
a.all.add-link {
  font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
  font-size: 15px;
}
/* line 1770, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
a.all.my-ads {
  font-size: 15px;
}

/* line 1775, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
p.search-intro {
  margin-bottom: 28px;
}

/* line 1779, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.search-filter {
  margin: 0 0 24px -86px;
}
/* line 1781, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.search-filter.new-search {
  margin: 0 auto 24px;
}

/* line 1786, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.clear-filters {
  background-color: #aaa;
  margin-top: 15px;
}

/* line 1791, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.select-wrap {
  display: block;
  position: relative;
  width: 176px;
  height: 27px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 24px;
  border-radius: 3px;
  float: left;
  margin-left: 86px;
}
/* line 1801, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.select-wrap.new-search {
  float: none;
  margin-left: 0px;
  margin: 0 auto 24px;
}

/* line 1807, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.select-extra {
  display: block;
  position: relative;
  width: 176px;
  height: 27px;
  margin-bottom: 24px;
  border-radius: 3px;
  float: left;
  margin-left: 86px;
}
/* line 1816, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.select-extra label.selected {
  color: #ee9200;
}

/* line 1821, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.select {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
  color: #333333;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
}
/* line 1831, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.select span.name {
  padding: 5px 30px 5px 10px;
  font-size: 15px;
  line-height: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
/* line 1840, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.select span.selected {
  color: #ee9200;
}
/* line 1843, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.select .arrow {
  position: absolute;
  right: 9px;
  top: 9px;
  display: block;
  width: 0;
  height: 0;
  border-color: #ee9200 transparent  transparent  transparent;
  border-style: solid;
  border-width: 9px 5px 0 5px;
}

/* line 1856, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.option-list {
  position: absolute;
  top: 100%;
  height: auto;
  overflow-y: auto;
  margin: 5px 0 0 0;
  list-style: none;
  width: 100%;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  z-index: 1000;
  max-height: 200px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: none;
}
/* line 1872, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.option-list li {
  cursor: pointer;
  color: #333;
  font-size: 15px;
  line-height: 17px;
  padding: 5px 30px 5px 10px;
  position: relative;
}
/* line 1879, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.option-list li:hover {
  color: #ee9200;
}
/* line 1882, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.option-list li.hide {
  display: none;
}

/* line 1888, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.search-field.large {
  position: relative;
  margin-bottom: 47px;
}
/* line 1891, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.search-field.large input {
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #fff;
  border: 1px solid #ee9200;
  padding: 19px 60px 19px 24px;
  font: normal normal 15px / 20px "HelveticaNeueRegular", Arial, Helvetica, sans-serif;
  color: #686868;
}
/* line 1902, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.search-field.large a {
  display: block;
  width: 24px;
  height: 24px;
  background: url(search-icon-big.png) no-repeat;
  position: absolute;
  right: 16px;
  top: 17px;
}

/* line 1913, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.links-list {
  counter-reset: item;
  margin: 0 0 28px;
}
/* line 1916, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.links-list li {
  display: block;
  position: relative;
  padding: 18px 0 12px 30px;
  border-bottom: 1px solid #dbdbdb;
}
/* line 1921, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.links-list li:first-child {
  padding-top: 0;
}
/* line 1924, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.links-list li .rightcol {
  width: 121px;
  float: right;
}
/* line 1928, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.links-list li .leftcol {
  width: 480px;
  float: left;
}
/* line 1932, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.links-list li:before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  top: 17px;
  left: 0;
  font-size: 18px;
  line-height: 1;
  color: #cdcdcd;
  font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
}
/* line 1943, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.links-list li:first-child:before {
  top: -1px;
  left: 0;
}
/* line 1947, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.links-list li p {
  margin-bottom: 8px;
}
/* line 1948, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.links-list li p.title {
  font-size: 14px;
  line-height: 1;
  color: #666;
  width: 480px;
  font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
  margin-bottom: 11px;
}
/* line 1958, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.links-list li a.title {
  font: normal normal 14px / 1 "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #686868;
}
/* line 1964, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.links-list li i.date {
  display: block;
  color: #a8a7a7;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 11px;
}
/* line 1971, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.links-list li a.read-more {
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  padding-right: 30px;
  background: url(read-more.png) no-repeat right center;
}

/* line 1981, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.trip-offers-list {
  counter-reset: item;
  margin: 0 0 28px;
}
/* line 1984, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.trip-offers-list li {
  display: block;
  position: relative;
  padding: 18px 0 12px 30px;
  border-bottom: 1px solid #dbdbdb;
}
/* line 1989, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.trip-offers-list li:first-child {
  padding-top: 0;
}
/* line 1992, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.trip-offers-list li .rightcol {
  width: 121px;
  float: right;
}
/* line 1996, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.trip-offers-list li .leftcol {
  margin-left: 11px;
  width: 340px;
  float: left;
}
/* line 2001, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.trip-offers-list li .piccol {
  width: 190px;
  float: left;
}
/* line 2005, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.trip-offers-list li:before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  top: 17px;
  left: 0;
  font-size: 18px;
  line-height: 1;
  color: #cdcdcd;
  font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
}
/* line 2016, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.trip-offers-list li:first-child:before {
  top: -1px;
  left: 0;
}
/* line 2020, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.trip-offers-list li p {
  margin-bottom: 8px;
}
/* line 2021, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.trip-offers-list li p.title {
  font-size: 14px;
  line-height: 1;
  color: #666;
  font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
  margin-bottom: 11px;
  display: inline-block;
}
/* line 2031, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.trip-offers-list li a.title {
  font: normal normal 14px / 1 "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #686868;
}
/* line 2037, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.trip-offers-list li i.date {
  display: block;
  color: #a8a7a7;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 11px;
}
/* line 2044, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ol.trip-offers-list li a.read-more {
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  padding-right: 30px;
  background: url(read-more.png) no-repeat right center;
}

/* line 2054, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.small {
  font-size: 12px;
  color: #a8a7a7;
  line-height: 1;
}

@media only screen and (min-width: 1360px) {
  /* line 2065, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
  a.to-top {
    left: 50%;
    margin-left: -670px;
  }
}
@media only screen and (max-width: 1184px) {
  /* line 2072, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
  a.to-top {
    display: none;
  }
}
/* line 2077, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
footer#mainApplication {
  height: 406px;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 1024px;
  background: #fff;
  background: url(footer-bg.png) repeat-x center top #f0f0f0;
  border-bottom: 4px solid #ee9200;
}
/* line 2087, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
footer#mainApplication .inner {
  height: 406px;
}
/* line 2091, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
footer#mainApplication ul.tweet-list {
  margin: 0;
  list-style: none;
}
/* line 2095, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
footer#mainApplication ul.tweet-list li {
  margin-bottom: 15px;
  font: normal normal 12px/18px Georgia, Arial, Helvetica, sans-serif;
  color: #6c6c6c;
}
/* line 2100, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
footer#mainApplication ul.tweet-list li .author {
  text-decoration: none;
  color: #00a4d2;
}
/* line 2105, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
footer#mainApplication ul.tweet-list li .date {
  font: normal normal 10px/18px Arial, Helvetica, sans-serif;
  color: #010101;
  border-bottom: 1px dashed #a0a0a0;
  text-decoration: none;
}
/* line 2113, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
footer#mainApplication ul.flickr-list {
  margin: 0;
  list-style: none;
}
/* line 2116, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
footer#mainApplication ul.flickr-list li {
  float: left;
  margin: 0 8px 8px 0;
}
/* line 2120, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
footer#mainApplication ul.flickr-list li img {
  width: 60px;
  height: 60px;
  display: block;
}
/* line 2126, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
footer#mainApplication ul.flickr-list li a {
  width: 60px;
  height: 60px;
  display: block;
  border: 2px solid #999;
}
/* line 2132, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
footer#mainApplication ul.flickr-list li a:hover {
  border: 2px solid #716f6f;
}
/* line 2137, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
footer#mainApplication p.about {
  font-size: 13px;
  color: #878686;
  line-height: 24px;
}

/* line 2144, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.footer-cols {
  margin: 0 0 0 -20px;
  list-style: none;
  padding-top: 45px;
  overflow: hidden;
}

/* line 2150, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.footer-cols > li {
  width: 236px;
  margin-left: 20px;
  float: left;
}

/* line 2156, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.footer-cols > li:first-child,
ul.footer-cols > li:last-child {
  width: 246px;
}

/* line 2163, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.footer-menu {
  margin: 0;
  list-style: none;
}

/* line 2167, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.footer-menu li {
  margin-bottom: 10px;
}

/* line 2170, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.footer-menu li a {
  font: normal normal 15px/18px 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
  color: #686868;
  text-decoration: none;
  padding-left: 30px;
  text-transform: uppercase;
  background: url(footer-menu.png) no-repeat left center;
}

/* line 2178, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
ul.footer-menu li a:hover {
  color: #9b9b9b;
}

/* line 2182, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
footer .copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 44px;
  background: #ee9200;
}

/* Modal Login */
/* line 2195, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
#signIn {
  display: none;
}

/* line 2197, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
.ui-dialog, .ui-dialog label {
  background: #8d8d8d;
  color: #fff;
}

/* LOCALES */
/* line 2203, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
p.translation_missing {
  color: #008000;
}

/* / */
/* line 2208, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
table.double {
  width: 701px;
  margin-bottom: 120px;
  border-bottom: 1px solid #dbdbdb;
}
/* line 2212, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
table.double h12 {
  font: normal normal 15px / 19px "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #686868;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 2px solid #f78e00;
  padding-bottom: 4px;
}
/* line 2221, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
table.double a.title {
  font: normal normal 14px / 1 "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  display: inline-block;
  margin: 0px 0 0px;
  margin-left: 8px;
  text-decoration: none;
  color: #686868;
}
/* line 2229, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
table.double a.img-wrap {
  display: block;
  width: 260px;
  height: 145px;
  float: left;
  margin-bottom: 10px;
}
/* line 2236, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
table.double img {
  width: 260px;
  height: 145px;
  display: block;
  border: 1px solid #c5c4c4;
}
/* line 2242, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
table.double i.date {
  display: block;
  color: #a8a7a7;
  font-size: 14px;
  line-height: 1;
  margin-left: 8px;
  margin-bottom: 4px;
}
/* line 2250, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
table.double p.tex {
  margin-bottom: 10px;
  margin-left: 8px;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
}
/* line 2255, /home/ignat/Documents/zonaradical/app/assets/stylesheets/application.css.scss */
table.double a.all {
  text-decoration: none;
  float: right;
  font-size: 12px;
  line-height: 26px;
}
