/* line 1, /home/ignat/Documents/zonaradical/app/assets/stylesheets/posts.css.scss */
.post {
  border: 1px solid #dedede;
  margin-bottom: 10px;
  border-radius: 5px;
}
/* line 6, /home/ignat/Documents/zonaradical/app/assets/stylesheets/posts.css.scss */
.post .alert {
  margin: 10px;
}
/* line 10, /home/ignat/Documents/zonaradical/app/assets/stylesheets/posts.css.scss */
.post .contents {
  border-left: 1px solid #ddd;
  padding-left: 10px;
  padding-bottom: 10px;
}
/* line 15, /home/ignat/Documents/zonaradical/app/assets/stylesheets/posts.css.scss */
.post .contents time {
  font-size: 75%;
  font-style: italic;
}
/* line 21, /home/ignat/Documents/zonaradical/app/assets/stylesheets/posts.css.scss */
.post .in-reply-to {
  font-size: 85%;
}

/* line 26, /home/ignat/Documents/zonaradical/app/assets/stylesheets/posts.css.scss */
.new_post textarea {
  width: 50%;
  min-height: 250px;
}
