/*



*/
/* line 12, /home/ignat/Documents/zonaradical/app/assets/stylesheets/resorts.css.scss */
.slider-field {
  width: 635px;
  height: 372px;
  position: relative;
  float: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 23, /home/ignat/Documents/zonaradical/app/assets/stylesheets/resorts.css.scss */
.index-slider .slide p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 15px 20px 10px 12px;
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
/* line 36, /home/ignat/Documents/zonaradical/app/assets/stylesheets/resorts.css.scss */
.index-slider .slide p p {
  display: block;
  bottom: 0px;
  left: 0;
  padding: 15px 20px 10px 12px;
  line-height: 24px;
  margin-bottom: 0;
}
/* line 44, /home/ignat/Documents/zonaradical/app/assets/stylesheets/resorts.css.scss */
.index-slider .slide p b {
  font-size: 16px;
  line-height: 24px;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  display: block;
}
/* line 51, /home/ignat/Documents/zonaradical/app/assets/stylesheets/resorts.css.scss */
.index-slider .slide img {
  width: 635px;
  height: 372px;
  display: block;
}

/* line 58, /home/ignat/Documents/zonaradical/app/assets/stylesheets/resorts.css.scss */
span.counter {
  position: absolute;
  display: block;
  top: 0;
  left: 565px;
  width: 50px;
  padding: 0 10px;
  height: 33px;
  color: rgba(244, 244, 244, 0.66);
  background: rgba(0, 0, 0, 0.18);
  text-align: center;
  font: normal normal 15px/33px 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  z-index: 1000;
}

/* line 74, /home/ignat/Documents/zonaradical/app/assets/stylesheets/resorts.css.scss */
.h2 {
  text-transform: uppercase;
  font: normal normal 18px / 20px "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  color: #646464;
  margin-right: 10px;
}
