/*

*/
/* line 11, /home/ignat/Documents/zonaradical/app/assets/stylesheets/static_pages.css.scss */
.slider-field {
  width: 635px;
  height: 372px;
  position: relative;
  float: left;
}

/* line 19, /home/ignat/Documents/zonaradical/app/assets/stylesheets/static_pages.css.scss */
.index-slider .slide p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 15px 20px 10px 12px;
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
/* line 32, /home/ignat/Documents/zonaradical/app/assets/stylesheets/static_pages.css.scss */
.index-slider .slide p p {
  display: block;
  bottom: 0px;
  left: 0;
  padding: 15px 20px 10px 12px;
  line-height: 24px;
  margin-bottom: 0;
}
/* line 40, /home/ignat/Documents/zonaradical/app/assets/stylesheets/static_pages.css.scss */
.index-slider .slide p b {
  font-size: 16px;
  line-height: 24px;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  display: block;
}
/* line 47, /home/ignat/Documents/zonaradical/app/assets/stylesheets/static_pages.css.scss */
.index-slider .slide img {
  width: 635px;
  height: 372px;
  display: block;
}

/* line 54, /home/ignat/Documents/zonaradical/app/assets/stylesheets/static_pages.css.scss */
form.vj-widget-form {
  position: absolute;
  top: 35px;
}
/* line 57, /home/ignat/Documents/zonaradical/app/assets/stylesheets/static_pages.css.scss */
form.vj-widget-form .select-wrap {
  margin-left: 4px;
}
/* line 60, /home/ignat/Documents/zonaradical/app/assets/stylesheets/static_pages.css.scss */
form.vj-widget-form input[type=submit] {
  margin: 0 auto;
}
