/* line 2, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tag-it.css.scss */
div.tag_list ul {
  min-width: 450px;
  border: 1px solid #c5c4c4;
  padding: 2px 15px;
  margin: 0;
  display: inline-flex;
  background-color: #fff;
}
/* line 10, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tag-it.css.scss */
div.tag_list ul li {
  width: auto !important;
  border-radius: 10px;
}

/* line 16, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tag-it.css.scss */
ul.tagit li.tagit-new input {
  min-width: 160px;
}

/* line 20, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tag-it.css.scss */
ul.tagit-autocomplete {
  border: 1px solid #c5c4c4;
  background-color: #fff;
}

/* line 25, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tag-it.css.scss */
ul.tags {
  list-style-type: none;
}

/* line 29, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tag-it.css.scss */
form.tag_search_form {
  padding-top: 0px;
}

/* line 33, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tag-it.css.scss */
form.tag_main_filter_form {
  float: right;
  padding-top: 10px;
}

/* line 38, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tag-it.css.scss */
.tag_cloud {
  line-height: 1.6em;
  margin: 0 0 48px -2px;
}
/* line 41, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tag-it.css.scss */
.tag_cloud .s {
  font-size: 0.8em;
}
/* line 42, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tag-it.css.scss */
.tag_cloud .m {
  font-size: 1.2em;
}
/* line 43, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tag-it.css.scss */
.tag_cloud .l {
  font-size: 1.8em;
}

/* line 47, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tag-it.css.scss */
ul.ui-autocomplete {
  background-color: #fff;
}
