/*




*/
/* line 14, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tips.css.scss */
.slider-field {
  width: 701px;
  height: auto;
  position: relative;
  float: left;
}

/* line 22, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tips.css.scss */
.tip-slider p.help {
  color: rgba(0, 0, 0, 0.8);
  font-size: 11px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* line 31, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tips.css.scss */
.tip-slider .slide .caption {
  background: #eee;
  padding: 10px;
}
/* line 36, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tips.css.scss */
.tip-slider .slide p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px 20px 10px 12px;
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  max-height: 45px;
  -webkit-transition: background 1s, max-height 1s;
  /* For Safari 3.1 to 6.0 */
  transition: background 1s, max-height 1s;
}
/* line 53, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tips.css.scss */
.tip-slider .slide p span.arrow {
  display: block;
  width: 11px;
  height: 6px;
  top: -3px;
  left: 313px;
  position: relative;
  background: center top no-repeat url(slider-vertical-arrows.png);
}
/* line 62, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tips.css.scss */
.tip-slider .slide p:hover span.arrow {
  background: none;
}
/* line 66, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tips.css.scss */
.tip-slider .slide p b {
  font-size: 16px;
  line-height: 24px;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  display: block;
}
/* line 72, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tips.css.scss */
.tip-slider .slide p:hover {
  max-height: 315px;
  background: rgba(0, 0, 0, 0.8);
}
/* line 77, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tips.css.scss */
.tip-slider .slide p.noarr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 6px 20px 6px 12px;
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  max-height: 45px;
  -webkit-transition: background 1s, max-height 1s;
  /* For Safari 3.1 to 6.0 */
  transition: background 1s, max-height 1s;
}
/* line 94, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tips.css.scss */
.tip-slider .slide p.noarr:hover {
  background: rgba(0, 0, 0, 0.8);
}
/* line 98, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tips.css.scss */
.tip-slider .slide img {
  width: 701px;
  height: 410px;
  display: block;
}

/* line 107, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tips.css.scss */
span.counter {
  position: absolute;
  display: block;
  top: 0;
  left: 631px;
  width: 50px;
  padding: 0 10px;
  height: 33px;
  color: rgba(244, 244, 244, 0.66);
  background: rgba(0, 0, 0, 0.18);
  text-align: center;
  font: normal normal 15px/33px 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  z-index: 1000;
}

/* line 122, /home/ignat/Documents/zonaradical/app/assets/stylesheets/tips.css.scss */
h2 {
  font: normal normal 20px / 22px "HelveticaNeueMedium", Arial, Helvetica, sans-serif;
  color: #666;
  text-transform: uppercase;
  margin-bottom: 17px;
  margin-bottom: 3px;
}
