/* line 1, /home/ignat/Documents/zonaradical/app/assets/stylesheets/topics.css.scss */
.topics thead th {
  background: #dddddd;
  color: white;
  padding: 3px;
  font-size: 110%;
  width: 140px;
  text-align: center;
}

/* line 9, /home/ignat/Documents/zonaradical/app/assets/stylesheets/topics.css.scss */
.topic td.byline {
  padding: 10px;
  width: 600px;
}

/* line 13, /home/ignat/Documents/zonaradical/app/assets/stylesheets/topics.css.scss */
.topic td.latest-post {
  width: 340px;
  text-align: center;
}

/* line 17, /home/ignat/Documents/zonaradical/app/assets/stylesheets/topics.css.scss */
.topic td.posts-count {
  text-align: center;
}

/* line 20, /home/ignat/Documents/zonaradical/app/assets/stylesheets/topics.css.scss */
.topic td.views-count {
  text-align: center;
}

/* line 23, /home/ignat/Documents/zonaradical/app/assets/stylesheets/topics.css.scss */
.topic .subject {
  font: normal normal 19px/21px 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
}

/* line 27, /home/ignat/Documents/zonaradical/app/assets/stylesheets/topics.css.scss */
.new_topic textarea {
  width: 50%;
  min-height: 250px;
}

/* line 32, /home/ignat/Documents/zonaradical/app/assets/stylesheets/topics.css.scss */
#topic #menu {
  margin-bottom: 10px;
}
