html {
  min-width: initial;
  width: auto;
  height: 100%;
}
body {
  width: 100%;
  height: auto;
  min-width: 320px;
  min-height: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.xs-head {
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 110px 0 0;
  width: auto;
  height: 56px;
}
.xs-head,
.xs-head * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xs-head--logo {
  background: url(../images/xs-head--logo.png) center center no-repeat;
  display: block;
  width: 161px;
  height: 55px;
}
.xs-head--back {
  padding: 0 0 0 30px;
  text-decoration: none;
  font-size: 16px;
  line-height: 56px;
  font-weight: 700;
}
.xs-head--input {
  padding: 8px 0 8px 6px;
  display: none;
}
.xs-head--input input {
  border: 1px solid #c7c7c7;
  background: #f1f1f1;
  padding: 0 10px;
  display: block;
  width: 100%;
  height: 39px;
  font-size: 14px;
  line-height: 37px;
}
.xs-head.search .xs-head--back {
  display: none;
}
.xs-head.search .xs-head--logo {
  display: none;
}
.xs-head.search .xs-head--input {
  display: block;
}
.xs-head--tools {
  padding-right: 55px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}
.xs-head--tools a {
  background: url(../images/xs-head--tools.png) no-repeat;
  display: block;
  width: 55px;
  height: 55px;
}
.xs-head--tools a.i1 {
  background-position: 5px 5px;
}
.xs-head--tools a.i2 {
  background-color: #ffffff;
  background-position: -40px 5px;
  z-index: 1000;
  border-bottom: 1px solid #f1f1f1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 55px;
  height: 56px;
}
.xs-foot {
  background: #dedede;
  padding: 3px 0 0;
}
.xs-foot--socials {
  margin: 0 auto 16px;
  padding: 8px 0 0 2px;
  background: url(../images/xs-foot--socials.png) center center no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 307px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xs-foot--socials a {
  display: inline-block;
  vertical-align: top;
  width: 27px;
  height: 27px;
}
.xs-foot--socials a:nth-child(1) {
  margin: 0 45px 0 0;
}
.xs-foot--socials a:nth-child(2) {
  margin: 0 108px 0 0;
}
.xs-foot--socials a:nth-child(3) {
  margin: 0 42px 0 0;
}
.xs-foot--links {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0 0 10px;
  font-size: 0;
  line-height: 0;
}
.xs-foot--links li {
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
}
.xs-foot--links li a {
  color: #000000;
  text-decoration: none;
}
.xs-foot--links li span {
  padding: 0 10px;
}
.xs-foot--form {
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.xs-foot--form input {
  margin: 0 4px 2px 0;
  padding: 0 6px;
  display: inline-block;
  vertical-align: top;
  width: 190px;
  height: 38px;
  font-size: 14px;
  line-height: 38px;
}
.xs-foot--form button {
  padding: 0;
  border: none;
  background: #ee9200;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
}
.xs-foot--form span {
  padding: 1px 0 0;
  color: #6c6c6c;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 20px;
}
.xs-foot--copy {
  padding: 10px 0 15px;
  color: #858484;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
.xs-menu {
  z-index: 1100;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.xs-menu--close {
  border: 3px solid #ffffff;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: auto;
  left: auto;
  width: 35px;
  height: 35px;
}
.xs-menu--close:before,
.xs-menu--close:after {
  background: #ffffff;
  content: "";
  width: 60px;
  height: 3px;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
}
.xs-menu--close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.xs-menu--close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.xs-menu--inner {
  background: #1a1719;
  overflow: scroll;
  width: 100%;
  height: 100%;
  max-width: initial;
  max-height: 100%;
}
.xs-menu--login {
  margin: 9px 0 25px;
  padding: 0 0 0 140px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: auto;
  height: 90px;
  font-size: 25px;
  line-height: 90px;
}
.xs-menu--login img {
  overflow: hidden;
  border: 5px solid #fda418;
  display: block;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 20px;
  width: 90px;
  height: 90px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.xs-menu--links > ul {
  list-style: none;
  margin: 0 0 25px;
  padding: 0;
  border-bottom: 1px solid #28272d;
}
.xs-menu--links > ul > li {
  border-top: 1px solid #28272d;
  border-bottom: 1px solid #181517;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.xs-menu--links > ul > li:first-of-type {
  border-top: none;
}
.xs-menu--links > ul > li > a,
.xs-menu--links > ul > li > span {
  text-decoration: none;
  color: #ffffff;
  padding: 0 20px;
  display: block;
  font-size: 20px;
  line-height: 50px;
}
.xs-menu--links > ul > li > span {
  padding: 5px 20px 0;
  font-size: 20px;
  line-height: 40px;
}
.xs-menu--links > ul > li > i {
  background: url(../images/xs-menu--links-arrow.png) no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  position: absolute;
  top: 17px;
  right: 22px;
  bottom: auto;
  left: auto;
  width: 27px;
  height: 15px;
}
.xs-menu--links > ul > li.sub {
  padding-bottom: 5px;
}
.xs-menu--links > ul > li > ul {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
  display: none;
}
.xs-menu--links > ul > li > ul > li {
  display: block;
}
.xs-menu--links > ul > li > ul > li > a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 30px;
  font-size: 20px;
  line-height: 50px;
}
.xs-menu--settings {
  color: #ffffff;
  text-decoration: none;
  background: url(../images/xs-menu--settings.png) 20px center no-repeat;
  padding: 0 0 0 65px;
  margin: 0 0 20px;
  -webkit-background-size: auto 29px;
  -moz-background-size: auto 29px;
  -o-background-size: auto 29px;
  background-size: auto 29px;
  display: block;
  font-size: 20px;
  line-height: 50px;
}
.xs-login {
  padding: 5px;
  z-index: 1100;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.xs-login--close {
  border: 2px solid #ed9322;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 13px;
  right: 13px;
  bottom: auto;
  left: auto;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.xs-login--close:before,
.xs-login--close:after {
  background: #ed9322;
  content: "";
  width: 15px;
  height: 2px;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
}
.xs-login--close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.xs-login--close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.xs-login--inner {
  background: #2f2c2b;
  overflow: scroll;
  padding: 25px 11px 0;
  max-width: initial;
  max-height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.xs-login--title {
  text-align: center;
  color: #ed9322;
  font-size: 15px;
  line-height: 20px;
}
.xs-login--label {
  padding: 10px 0 5px;
  font-size: 14px;
  line-height: 20px;
}
.xs-login--input {
  margin: 0 0 15px;
}
.xs-login--input input {
  border: none;
  display: block;
  width: 100%;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.xs-login--submit button {
  border: none;
  background: #ed9322 url(../images/xs-login.png) 10px top no-repeat;
  color: #ffffff;
  padding: 0 0 0 55px;
  text-align: left;
  -webkit-background-size: 26px auto;
  -moz-background-size: 26px auto;
  -o-background-size: 26px auto;
  background-size: 26px auto;
  display: block;
  width: 100%;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-size: 15px;
  line-height: 36px;
}
.xs-login--or {
  text-align: center;
  padding: 10px 0;
}
.xs-login--or a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}
.xs-login--socials a {
  background: #ed9322;
  color: #ffffff;
  padding: 0 0 0 55px;
  margin: 0 0 15px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-size: 15px;
  line-height: 36px;
}
.xs-login--socials a:last-of-type {
  margin: 0;
}
.xs-login--socials a.fb {
  background: #48629b url(../images/xs-login.png) 10px -36px no-repeat;
  -webkit-background-size: 26px auto;
  -moz-background-size: 26px auto;
  -o-background-size: 26px auto;
  background-size: 26px auto;
}
.xs-login--socials a.gp {
  background: #dc4b38 url(../images/xs-login.png) 10px -72px no-repeat;
  -webkit-background-size: 26px auto;
  -moz-background-size: 26px auto;
  -o-background-size: 26px auto;
  background-size: 26px auto;
}
.xs-login--socials a.tw {
  background: #23b0e6 url(../images/xs-login.png) 10px -108px no-repeat;
  -webkit-background-size: 26px auto;
  -moz-background-size: 26px auto;
  -o-background-size: 26px auto;
  background-size: 26px auto;
}
.index-slider .slick-dots {
  display: none!important;
}
.xs-head,
.heading--todos,
.xs-double,
.xs-foot,
.xs-procurar,
.xs-menu,
.xs-login {
  display: none;
}
@media (max-width: 1023px) {
  body {
    background: #f1f1f1;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body:after {
    display: none;
  }
  header {
    display: none;
  }
  .xs-head {
    display: block;
  }
  footer {
    display: none;
  }
  .xs-foot {
    display: block;
  }
  section.top-section {
    margin-bottom: 17px;
    width: 100%;
    height: auto;
  }
  .slider-field {
    overflow: hidden;
    width: 100%;
    height: auto;
    max-width: initial;
    max-height: 500px;
  }
  .slider-field .index-slider {
    max-width: initial;
    max-height: 500px;
  }
  .gallery-field {
    display: none;
  }
  .index-slider .slide p {
    padding: 6px;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    font-size: 14px;
    line-height: 20px;
  }
  .index-slider .slide img {
    width: 100%;
    height: auto;
  }
  .index-slider .slide span.tag {
    display: none;
  }
  .slick-prev,
  .slick-next {
    margin-top: -22px;
    background: rgba(51, 51, 51, 0.68) url(../images/xs-slick--arrows.png) no-repeat;
    width: 60px;
    height: 44px;
  }
  .slick-prev:hover,
  .slick-next:hover {
    background-color: rgba(51, 51, 51, 0.68);
  }
  .slick-prev {
    background-position: 0 0;
  }
  .slick-next {
    background-position: -60px 0;
  }
  .content {
    width: 100%;
    height: auto;
  }
  .main-content {
    float: none;
    padding: 0 5px;
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  aside {
    display: none;
  }
  .heading {
    margin-bottom: 4px;
  }
  .heading--todos,
  .heading a.all {
    float: none;
    text-decoration: none;
    color: #ffffff;
    padding: 0 19px 0 7px;
    background: #ee9200 url(../images/xs-heading--todos.png) right center no-repeat;
    position: absolute;
    top: 3px;
    right: 0;
    bottom: auto;
    left: auto;
    display: block;
    width: auto;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
  }
  h1 {
    color: #333333;
    padding-bottom: 0;
    border-bottom: 2px solid #f78e00;
    font-size: 14px;
    line-height: 20px;
  }
  .news-slider {
    margin: 0 0 15px;
  }
  .news-slider .slick-list,
  .news-slider .slick-track {
    height: auto!important;
  }
  .news-slider .slick-prev,
  .news-slider .slick-next {
    display: none!important;
  }
  .news-slider .slide {
    display: none;
  }
  .news-slider .slide:first-of-type {
    display: block;
  }
  .news-slider .news-item {
    padding: 5px 5px 25px;
    background: #ffffff;
    border: none!important;
    border-bottom: 2px solid #d5d5d5!important;
  }
  .news-slider .news-item a.img-wrap {
    width: 100px;
    height: auto;
  }
  .news-slider .news-item img {
    width: 100%;
    height: auto;
  }
  .news-slider .news-item .details {
    border-bottom: 1px solid #b1b0b0;
    margin-left: 110px;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  .news-slider .news-item .details a.date {
    position: absolute;
    top: auto;
    right: 0;
    bottom: -26px;
    left: auto;
    font-size: 14px;
    line-height: 25px;
  }
  .news-slider .news-item .details a.body {
    margin: 0 0 5px;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: initial;
    max-height: 60px;
    display: block;
  }
  ul.item-list {
    margin: 0;
  }
  ul.item-list li {
    margin: 0 0 15px;
    padding: 5px 5px 25px;
    background: #ffffff;
    border: none!important;
    border-bottom: 2px solid #d5d5d5!important;
    display: none;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  ul.item-list li:first-of-type {
    display: block;
  }
  ul.item-list li a.img-wrap {
    width: 100px;
    height: auto;
  }
  ul.item-list li img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
  ul.item-list li .details {
    border-bottom: 1px solid #b1b0b0;
    margin-left: 110px;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  ul.item-list li .details i.extra-info {
    display: none;
  }
  ul.item-list li .details p {
    overflow: hidden;
    margin: 0 0 5px;
    font: 400 14px/20px 'HelveticaNeue', Arial, sans-serif;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: initial;
    max-height: 60px;
  }
  ul.item-list li a.title {
    margin: 0;
    color: #ee9200;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 5px;
    font-size: 14px;
    line-height: 25px;
  }
  table.double {
    display: none;
  }
  .xs-double {
    display: block;
  }
  .xs-double--item {
    margin: 0 0 15px;
    padding: 5px 5px 25px;
    background: #ffffff;
    border-bottom: 2px solid #d5d5d5;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  .xs-double--item a.img-wrap {
    width: 100px;
    height: auto;
    display: block;
    position: absolute;
    top: 5px;
    right: auto;
    bottom: auto;
    left: 5px;
  }
  .xs-double--item a.img-wrap img {
    width: 100%;
    height: auto;
  }
  .xs-double--item a.title {
    display: none;
  }
  .xs-double--item p {
    border-bottom: 1px solid #b1b0b0;
    margin: 0 0 0 110px;
    padding: 0 0 5px;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    display: block;
    font: 400 14px/20px 'HelveticaNeue', Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .xs-double--item p.tex {
    min-width: initial;
    min-height: 66px;
  }
  .xs-double--item i.date {
    margin: 0;
    color: #ee9200;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 5px;
    font-size: 14px;
    line-height: 25px;
  }
  p.inv {
    display: none;
  }
  .xs-procurar {
    padding: 0 5px 15px;
    display: block;
  }
  .xs-procurar form.vj-widget-form {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    font-size: 0;
    line-height: 0;
  }
  .xs-procurar form.vj-widget-form .select-wrap {
    float: none;
    margin: 0 0 15px;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 49%;
    height: 27px;
  }
  .xs-procurar form.vj-widget-form .select-wrap.c1 {
    margin-right: 2%;
  }
  .xs-procurar form.vj-widget-form input[type=submit] {
    float: none;
    margin: 0 auto;
    display: block;
  }
  .to-top {
    display: none;
  }
  .index-slider .slick-dots {
    display: block!important;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    font-size: 0;
    line-height: 0;
  }
  .index-slider .slick-dots li {
    margin: 0 6px;
    background: #5a5b5c;
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .index-slider .slick-dots li.slick-active {
    background: #ee9200;
    -webkit-box-shadow: 0 0 0 2px #ee9200;
    -moz-box-shadow: 0 0 0 2px #ee9200;
    box-shadow: 0 0 0 2px #ee9200;
  }
  .index-slider .slick-dots li button {
    display: none;
  }
  article {
    padding: 0 10px;
    background: #ffffff;
    border-bottom: 2px solid #d5d5d5;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .xs-head {
    padding: 0 120px 0 80px;
  }
  .xs-head--logo {
    background: url(../images/xs-head--logo-sm.png) center center no-repeat;
    display: block;
    -webkit-background-size: auto 85%;
    -moz-background-size: auto 85%;
    -o-background-size: auto 85%;
    background-size: auto 85%;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 80px;
    height: 55px;
  }
  .xs-head--input {
    display: block;
  }
  .xs-head.search .xs-head--logo {
    display: block;
  }
  .xs-head.search .xs-head--input {
    display: block;
  }
  .main-content .sm-left {
    float: left;
    width: 49%;
    height: auto;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-content .sm-right {
    float: right;
    width: 49%;
    height: auto;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .slider-field {
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  .xs-foot {
    padding-top: 20px;
  }
  .xs-foot--socials {
    -webkit-transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    -ms-transform: scale(1.4, 1.4);
    -o-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
  }
  .xs-foot--links {
    margin: 25px 0 15px;
  }
  .xs-foot--form input {
    padding: 0 15px;
    width: 450px;
    height: 48px;
  }
  .xs-foot--form button {
    width: 50px;
    height: 50px;
  }
  .xs-menu--inner {
    width: 400px;
    height: auto;
  }
  .xs-login--inner {
    margin: 0 auto;
    width: 400px;
    height: auto;
  }
}
