doctype html
html
	include ./includes/head.jade

	body
		include ./includes/header--article.jade

		.container
			.one
				.one--info(style="background-image: url(http://placeholdit.imgix.net/~text?txtsize=100&txt=320x200&w=640&h=400)")
					.one--info-image
						img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=110x60&w=220&h=120" alt="")
					.one--info-title COMO GUARDAR A PRANCHA
					.one--info-date
						i
						span 01.23.86

				.one--inner
					.one--inner-avatar
						img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")

					.one--inner-name.visible-sm Alexander Ivanov

					.article--slider
						.slide
							.image
								img(src="img/intro--slider-01.jpg" alt="")
							.text
								p.title Levi, Finland
								
								p Levi is the only resort in this list that’s situated in Finland. It always seems to get snow super early in the winter, probably because it’s way inside the Arctic Circle. The mountain is in fact more of a hill really, but there are some really fun runs among the trees and the natural half pipe on the run down to the base is legendary.

								p In mid winter it gets dark in Levi very early which is when something pretty awesome happens; all over the hill flood lights are turned on and the lifts keep turning until 9pm. Cruising around under the floodlights as ice crystals freeze to your face in the -30 degree air before heading back to the log cabin for a sauna is a pretty memorable experience.

						.slide
							.image
								img(src="img/intro--slider-02.jpg" alt="")
							.text
								p.title Levi, Finland

								p Levi is the only resort in this list that’s situated in Finland. It always seems to get snow super early in the winter, probably because it’s way inside the Arctic Circle. The mountain is in fact more of a hill really, but there are some really fun runs among the trees and the natural half pipe on the run down to the base is legendary.

					.article--tools.clearfix
						.article--tags.left
							span.bold Tags :
							a(href="#") proin
							span ,
							a(href="#") iaculis
							span ,
							a(href="#") hendrerit
							span ,
							a(href="#") lacinia
							span ,
							a(href="#") pellentesque

						.article--category.right
							a(href="#") Áustria Saalbach - Category

				.one--author
					.one--author-avatar
						img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")
					a(href="#").one--author-line Sobre autor
					.one--author-name Alexander Ivanov
					.one--author-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales mattis gravida.

				.trips
					a(href="#") Crirar Trip
					a(href="#") Todos Trip
					a(href="#") Crirar Trip
					a(href="#") Todos Trip

				.comments
					.news--item-title.clearfix
						.news--item-name.left COMENTÁRIOS:

					.comments--list
						.comment
							.comment--avatar
								img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")
							.comment--inner
								.comment--info
									a(href="#").comment--author Felipe Mischiatti Cazelli Mischiatti Cazelli
									span.comment--date , 23 de March, 2016 às 01:36 PM
								.comment--text Atrás de algo barato que esse tá osso, vc já...

						.comment.sub
							.comment--avatar
								img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")
							.comment--inner
								.comment--info
									a(href="#").comment--author Fábio Paz Paz
									span.comment--date , 23 de March, 2016 às 02:34 PM
								.comment--text Atrás de algo barato que esse tá osso...
						.comment
							.comment--avatar
								img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")
							.comment--inner
								.comment--info
									a(href="#").comment--author Alexander Ivanov
									span.comment--date , 23 de March, 2016 às 01:36 PM
								.comment--text Atrás de algo barato que esse tá osso, vc já...

					.comments--form
						form(action="" method="POST")
							input(type="text" placeholder="Add a comment or a reply here ...")
							button(type="submit") Enviar

				.news--item-title.clearfix
					.news--item-name.left Related materials:

				.related--slider
					.slide
						.article.visible-sm
							.article--inner.pad
								.article--image
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

								.article--info
									.article--title Existem muitas variações das passagens

									a(href="#").article--user Admin

								.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
									a(href="#") Leia mais

								.article--tools.visible-sm.clearfix
									.article--tags.left
										span.bold Tags :
										a(href="#") proin
										span ,
										a(href="#") iaculis
										span ,
										a(href="#") hendrerit
										span ,
										a(href="#") lacinia
										span ,
										a(href="#") pellentesque

									.article--category.right
										a(href="#") Áustria Saalbach - Category
							
						a(href="#").article.hidden-sm
							.article--image-big
								img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

							.article--inner
								.article--title O Lorem Ipsum é um texto modelo da indústria

					.slide
						.article.visible-sm
							.article--inner.pad
								.article--image
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

								.article--info
									.article--title Existem muitas variações das passagens

									a(href="#").article--user Admin

								.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
									a(href="#") Leia mais

								.article--tools.visible-sm.clearfix
									.article--tags.left
										span.bold Tags :
										a(href="#") proin
										span ,
										a(href="#") iaculis
										span ,
										a(href="#") hendrerit
										span ,
										a(href="#") lacinia
										span ,
										a(href="#") pellentesque

									.article--category.right
										a(href="#") Áustria Saalbach - Category
							
						a(href="#").article.hidden-sm
							.article--image-big
								img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

							.article--inner
								.article--title O Lorem Ipsum é um texto modelo da indústria

					.slide
						.article.visible-sm
							.article--inner.pad
								.article--image
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

								.article--info
									.article--title Existem muitas variações das passagens

									a(href="#").article--user Admin

								.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
									a(href="#") Leia mais

								.article--tools.visible-sm.clearfix
									.article--tags.left
										span.bold Tags :
										a(href="#") proin
										span ,
										a(href="#") iaculis
										span ,
										a(href="#") hendrerit
										span ,
										a(href="#") lacinia
										span ,
										a(href="#") pellentesque

									.article--category.right
										a(href="#") Áustria Saalbach - Category
							
						a(href="#").article.hidden-sm
							.article--image-big
								img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

							.article--inner
								.article--title O Lorem Ipsum é um texto modelo da indústria

				.news--item-title.clearfix
					.news--item-name.left Proximo evento:

				a(href="#").article.hidden-sm
					.article--image-big
						img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

					.article--inner
						.article--title O Lorem Ipsum é um texto modelo da indústria

				.article.visible-sm
					.article--inner.pad
						.article--image
							img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

						.article--info
							.article--title Existem muitas variações das passagens

							.article--photo 11
							.article--height 1900 metros

						.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
							a(href="#") Leia mais

						.article--tools.visible-sm.clearfix
							.article--tags.left
								span.bold Tags :
								a(href="#") proin
								span ,
								a(href="#") iaculis

							.article--category.right
								a(href="#") Áustria Saalbach - Category

		include ./includes/footer.jade
		include ./includes/menu.jade
		include ./includes/login.jade