doctype html
html
	include ./includes/head.jade

	body
		include ./includes/header--articles.jade

		.container
			.articles
				include ./includes/articles--filter.jade

				a(href="#").article.hidden-sm
					.article--image-big
						img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

					.article--inner
						.article--title O Lorem Ipsum é um texto modelo da indústria

				.article.visible-sm
					.article--inner.pad
						.article--image
							img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

						.article--info
							.article--title Existem muitas variações das passagens

							.article--photo 11
							.article--height 1900 metros

						.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
							a(href="#") Leia mais

						.article--tools.visible-sm.clearfix
							.article--tags.left
								span.bold Tags :
								a(href="#") proin
								span ,
								a(href="#") iaculis

							.article--category.right
								a(href="#") Áustria Saalbach - Category

				a(href="#").article.hidden-sm
					.article--image-big
						img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

					.article--inner
						.article--title O Lorem Ipsum é um texto modelo da indústria

				.article.visible-sm
					.article--inner.pad
						.article--image
							img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

						.article--info
							.article--title Existem muitas variações das passagens

							.article--photo 11
							.article--height 1900 metros

						.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
							a(href="#") Leia mais

						.article--tools.visible-sm.clearfix
							.article--tags.left
								span.bold Tags :
								a(href="#") proin
								span ,
								a(href="#") iaculis

							.article--category.right
								a(href="#") Áustria Saalbach - Category

				a(href="#").article.hidden-sm
					.article--image-big
						img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

					.article--inner
						.article--title O Lorem Ipsum é um texto modelo da indústria

				.article.visible-sm
					.article--inner.pad
						.article--image
							img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

						.article--info
							.article--title Existem muitas variações das passagens

							.article--photo 11
							.article--height 1900 metros

						.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
							a(href="#") Leia mais

						.article--tools.visible-sm.clearfix
							.article--tags.left
								span.bold Tags :
								a(href="#") proin
								span ,
								a(href="#") iaculis

							.article--category.right
								a(href="#") Áustria Saalbach - Category

				a(href="#").article.hidden-sm
					.article--image-big
						img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

					.article--inner
						.article--title O Lorem Ipsum é um texto modelo da indústria

				.article.visible-sm
					.article--inner.pad
						.article--image
							img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

						.article--info
							.article--title Existem muitas variações das passagens

							.article--photo 11
							.article--height 1900 metros

						.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
							a(href="#") Leia mais

						.article--tools.visible-sm.clearfix
							.article--tags.left
								span.bold Tags :
								a(href="#") proin
								span ,
								a(href="#") iaculis

							.article--category.right
								a(href="#") Áustria Saalbach - Category

				ul.articles--pagination
					li.prev
						a(href="#") &lt;&lt;
					
					li.active
						a(href="#") 1

					li
						a(href="#") 2

					li
						a(href="#") 3

					li
						a(href="#") 4
					
					li.next
						a(href="#") &gt;&gt;

		include ./includes/footer.jade
		include ./includes/menu.jade
		include ./includes/login.jade