doctype html
html
	include ./includes/head.jade

	body
		include ./includes/header--article.jade

		.container
			.one
				.one--info(style="background-image: url(http://placeholdit.imgix.net/~text?txtsize=100&txt=320x200&w=640&h=400)")
					.one--info-image
						img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=110x60&w=220&h=120" alt="")
					.one--info-title COMO GUARDAR A PRANCHA
					.one--info-date
						i
						span 01.23.86

				.one--inner
					.one--inner-avatar
						img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")

					.one--inner-name.visible-sm Alexander Ivanov

					.one--inner-text1
						img(src="https://zonaradical.s3.amazonaws.com/uploads/tip/image/3/big_thumb_12-13gentem_chopstick.jpg" alt="").med-img

						div
							p Neste nivel o <strong>Zona Radical</strong> indicaria apenas um tipo de <strong>prancha de snowboard</strong> - a do seu tamanho. Isso significa que o snowboard, na vertical, deve medir mais ou menos do seu pé à altura do seu queixo. Caso você esteja acima de peso para sua altura, procure uma prancha alguns centimetros  maior.

							p No início do aprendizado tente escolher as pranchas de snowboard (entre aquelas do seu tamanho) as mais macias e de perfil “rocker” se tiver. Pranchas assim vão te ajudar um pouco no processo de aprendizado. Mas lembre, o importante é ter vontade e dedicação, nao importa a prancha! =)

					.article--tools.clearfix
						.article--tags.left
							span.bold Tags :
							a(href="#") proin
							span ,
							a(href="#") iaculis
							span ,
							a(href="#") hendrerit
							span ,
							a(href="#") lacinia
							span ,
							a(href="#") pellentesque

						.article--category.right
							a(href="#") Áustria Saalbach - Category

				.intro--slider
					.slide
						img(src="img/intro--slider-01.jpg" alt="")
						p Ao contrário da crença popular, o Lorem Ipsum não é simplesmente texto aleatório.
							
					.slide
						img(src="img/intro--slider-02.jpg" alt="")
						p Ao contrário da crença popular, o Lorem Ipsum não é simplesmente texto aleatório.

				.one--author
					.one--author-avatar
						img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")
					a(href="#").one--author-line Sobre autor
					.one--author-name Alexander Ivanov
					.one--author-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales mattis gravida.

				.trips
					a(href="#") Crirar Trip
					a(href="#") Todos Trip
					a(href="#") Crirar Trip
					a(href="#") Todos Trip

				.comments
					.news--item-title.clearfix
						.news--item-name.left COMENTÁRIOS:

					.comments--list
						.comment
							.comment--avatar
								img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")
							.comment--inner
								.comment--info
									a(href="#").comment--author Felipe Mischiatti Cazelli Mischiatti Cazelli
									span.comment--date , 23 de March, 2016 às 01:36 PM
								.comment--text Atrás de algo barato que esse tá osso, vc já...

						.comment.sub
							.comment--avatar
								img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")
							.comment--inner
								.comment--info
									a(href="#").comment--author Fábio Paz Paz
									span.comment--date , 23 de March, 2016 às 02:34 PM
								.comment--text Atrás de algo barato que esse tá osso...
						.comment
							.comment--avatar
								img(src="http://placeholdit.imgix.net/~text?txtsize=30&txt=50x50&w=100&h=100" alt="")
							.comment--inner
								.comment--info
									a(href="#").comment--author Alexander Ivanov
									span.comment--date , 23 de March, 2016 às 01:36 PM
								.comment--text Atrás de algo barato que esse tá osso, vc já...

					.comments--form
						form(action="" method="POST")
							input(type="text" placeholder="Add a comment or a reply here ...")
							button(type="submit") Enviar

				.news--item-title.clearfix
					.news--item-name.left Related materials:

				.related--slider
					.slide
						.article.visible-sm
							.article--inner.pad
								.article--image
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

								.article--info
									.article--title Existem muitas variações das passagens

									a(href="#").article--user Admin

								.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
									a(href="#") Leia mais

								.article--tools.visible-sm.clearfix
									.article--tags.left
										span.bold Tags :
										a(href="#") proin
										span ,
										a(href="#") iaculis
										span ,
										a(href="#") hendrerit
										span ,
										a(href="#") lacinia
										span ,
										a(href="#") pellentesque

									.article--category.right
										a(href="#") Áustria Saalbach - Category
							
						a(href="#").article.hidden-sm
							.article--image-big
								img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

							.article--inner
								.article--title O Lorem Ipsum é um texto modelo da indústria

					.slide
						.article.visible-sm
							.article--inner.pad
								.article--image
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

								.article--info
									.article--title Existem muitas variações das passagens

									a(href="#").article--user Admin

								.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
									a(href="#") Leia mais

								.article--tools.visible-sm.clearfix
									.article--tags.left
										span.bold Tags :
										a(href="#") proin
										span ,
										a(href="#") iaculis
										span ,
										a(href="#") hendrerit
										span ,
										a(href="#") lacinia
										span ,
										a(href="#") pellentesque

									.article--category.right
										a(href="#") Áustria Saalbach - Category
							
						a(href="#").article.hidden-sm
							.article--image-big
								img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

							.article--inner
								.article--title O Lorem Ipsum é um texto modelo da indústria

					.slide
						.article.visible-sm
							.article--inner.pad
								.article--image
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

								.article--info
									.article--title Existem muitas variações das passagens

									a(href="#").article--user Admin

								.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
									a(href="#") Leia mais

								.article--tools.visible-sm.clearfix
									.article--tags.left
										span.bold Tags :
										a(href="#") proin
										span ,
										a(href="#") iaculis
										span ,
										a(href="#") hendrerit
										span ,
										a(href="#") lacinia
										span ,
										a(href="#") pellentesque

									.article--category.right
										a(href="#") Áustria Saalbach - Category
							
						a(href="#").article.hidden-sm
							.article--image-big
								img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

							.article--inner
								.article--title O Lorem Ipsum é um texto modelo da indústria

				.news--item-title.clearfix
					.news--item-name.left Proximo evento:

				a(href="#").article.hidden-sm
					.article--image-big
						img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

					.article--inner
						.article--title O Lorem Ipsum é um texto modelo da indústria

				.article.visible-sm
					.article--inner.pad
						.article--image
							img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x57&w=200&h=114" alt="")

						.article--info
							.article--title Existem muitas variações das passagens

							.article--photo 11
							.article--height 1900 metros

						.article--text Existem muitas variações das passagens do Lorem Ipsum disponíveis, mas a maior parte sofreu alterações de alguma forma, pela injecção de humor, ou de palavras aleatórias que ....&nbsp;
							a(href="#") Leia mais

						.article--tools.visible-sm.clearfix
							.article--tags.left
								span.bold Tags :
								a(href="#") proin
								span ,
								a(href="#") iaculis

							.article--category.right
								a(href="#") Áustria Saalbach - Category

		include ./includes/footer.jade
		include ./includes/menu.jade
		include ./includes/login.jade