doctype html
html
	include ./includes/head.jade

	body
		include ./includes/header--main.jade

		.intro
			.intro--slider
				.slide
					img(src="img/intro--slider-01.jpg" alt="")
					p Ao contrário da crença popular, o Lorem Ipsum não é simplesmente texto aleatório.
				
				.slide
					img(src="img/intro--slider-02.jpg" alt="")
					p Ao contrário da crença popular, o Lorem Ipsum não é simplesmente texto aleatório.

		.container
			.news
				.row.clearfix
					.news--item.left
						.news--item-title.clearfix
							.news--item-name.left ÚLTIMAS NOTICIAS
							a(href="#").news--item-more.right Todos

						.news--item-cont
							.clearfix
								.news--item-image.left
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x100&w=200&h=200" alt="")

								.news--item-text.right Você já dominou seu equipamento e aprendeu as dicas básicas de edição de vídeo de ação? Se sim, prossiga aqui para dicas mais avançadas. Aqui nós focamos mais nos elementos artísticos do que na técnica, porém mais pra frente iremos mostrar també

							.news--item-tool.alt 21/10/2015

					.news--item.left
						.news--item-title.clearfix
							.news--item-name.left ÚLTIMAS DICAS
							a(href="#").news--item-more.right Todos

						.news--item-cont
							.clearfix
								.news--item-image.left
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x100&w=200&h=200" alt="")

								.news--item-text.right Você já dominou seu equipamento e aprendeu as dicas básicas de edição de vídeo de ação? Se sim, prossiga aqui para dicas mais avançadas. Aqui nós focamos mais nos elementos artísticos do que na técnica, porém mais pra frente iremos mostrar també

							.news--item-tool Caso voce faz contato pelo

				.row.clearfix
					.news--item.left
						.news--item-title.clearfix
							.news--item-name.left EVENTOS
							a(href="#").news--item-more.right Todos

						.news--item-cont
							.clearfix
								.news--item-image.left
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x100&w=200&h=200" alt="")

								.news--item-text.right Você já dominou seu equipamento e aprendeu as dicas básicas de edição de vídeo de ação? Se sim, prossiga aqui para dicas mais avançadas. Aqui nós focamos mais nos elementos artísticos do que na técnica, porém mais pra frente iremos mostrar també

							.news--item-tool Caso voce faz contato pelo

					.news--item.left
						.news--item-title.clearfix
							.news--item-name.left TRIPS
							a(href="#").news--item-more.right Todos

						.news--item-cont
							.clearfix
								.news--item-image.left
									img(src="http://placeholdit.imgix.net/~text?txtsize=60&txt=100x100&w=200&h=200" alt="")

								.news--item-text.right Você já dominou seu equipamento e aprendeu as dicas básicas de edição de vídeo de ação? Se sim, prossiga aqui para dicas mais avançadas. Aqui nós focamos mais nos elementos artísticos do que na técnica, porém mais pra frente iremos mostrar també

							.news--item-tool Caso voce faz contato pelo Zona Radical...

				.news--item.alt
					.news--item-title.clearfix
						.news--item-name.left ENCONTRA A SUA TRIP

					.news--selects.row.clearfix
						.news--select.left
							.select
								input(type="hidden").select_hidden
								
								.select_in
									span.select_title Caso voce faz contato
									i.select_arrow

								ul.select_list
									li(data-value="1").is-active Caso voce faz contato
									li(data-value="2") Caso voce faz contato
									li(data-value="3") Caso voce faz contato

						.news--select.left
							.select
								input(type="hidden").select_hidden
								
								.select_in
									span.select_title Caso voce faz contato
									i.select_arrow

								ul.select_list
									li(data-value="1").is-active Caso voce faz contato
									li(data-value="2") Caso voce faz contato
									li(data-value="3") Caso voce faz contato
									

					button.news--selects-btn Procurar

		include ./includes/footer.jade
		include ./includes/menu.jade
		include ./includes/login.jade