@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  src: url(../fonts/helvetica/helveticaneue.eot);
  src: url(../fonts/helvetica/helveticaneue.eot) format("embedded-opentype"), url(../fonts/helvetica/helveticaneue.woff) format("woff"), url(../fonts/helvetica/helveticaneue.ttf) format("truetype"), url(../fonts/helvetica/helveticaneue.svg) format("svg");
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 700;
  src: url(../fonts/helvetica/helvetica-neue-bold.eot);
  src: url(../fonts/helvetica/helvetica-neue-bold.eot) format("embedded-opentype"), url(../fonts/helvetica/helvetica-neue-bold.woff) format("woff"), url(../fonts/helvetica/helvetica-neue-bold.ttf) format("truetype"), url(../fonts/helvetica/helvetica-neue-bold.svg) format("svg");
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  src: url(../fonts/helvetica/helveticaneue-medium.eot);
  src: url(../fonts/helvetica/helveticaneue-medium.eot) format("embedded-opentype"), url(../fonts/helvetica/helveticaneue-medium.woff) format("woff"), url(../fonts/helvetica/helveticaneue-medium.ttf) format("truetype"), url(../fonts/helvetica/helveticaneue-medium.svg) format("svg");
}
