@import "_mixins.less";
@import "_reset.less";
@import "_fonts.less";

@import "_slick.less";

html { min-width: auto;
	.size (auto, 100%);
}

body {
	font: normal normal 14px/1.5 'HelveticaNeue', arial, sans-serif;
	background: #e2e2e2;
	color: #000000;
	position: relative;

	-webkit-text-size-adjust: 100%;

	.box-sizing (border-box);
	.size (100%);
	.min-size (320px);

	input { font-family: 'HelveticaNeue', arial, sans-serif; }

	*, *:before, *:after { .box-sizing (border-box); }
}

a {
	color: #ee9200;
}

.left { float: left; }
.right { float: right; }
.clearfix { *zoom: 1;
	&:after { clear: both; }
	&:before, &:after { content: " ";
		.display (table);
	}
}

.container {
	margin: 0 auto;
	padding: 0 10px;

	.position (relative);
	.size (100%);
	.max-size (1024px);
}

.head {
	background: #ffffff;
	border-bottom: 1px solid #f1f1f1;
	padding: 0 110px 0 0;

	.size (auto, 56px);
	.position (relative);

	&, * { .box-sizing (border-box); }
	&--logo { background: url(../img/head--logo.png) center center no-repeat;
		.display (block);
		.size (161px, 55px);
	}

	&--back {
		padding: 0 0 0 10px;
		text-decoration: none;

		.font (16px, 56px, 700);

		i {
			background: url(../img/head--back.png) no-repeat;
			margin: 15px 10px 16px 0;

			.background-size (100% 100%);
			.display (inline-block);
			.size (18px, 25px);
		}

		span { .display (inline-block); }
	}

	&.harticles { padding: 12px 0; }
	&--anuncio {
		background: #ee9200;
		color: #ffffff;
		text-decoration: none;
		text-align: center;
		margin: 0 0 0 10px;

		.display (block);
		.font (14px, 30px);
		.size (~'calc(100% - 130px)', 30px);

		i {
			background: url(../img/head--anuncio.png);
			margin: 5px 10px 0 0;

			.background-size (100% 100%);
			.display (inline-block);
			.size (20px, 20px);
		}
	}

	&--input { padding: 8px 0 8px 6px;
		.display (none);
		
		input {
			border: 1px solid #c7c7c7;
			background: #f1f1f1;
			padding: 0 10px;

			.display (block);
			.size (100%, 39px);
			.font (14px, 37px);
		}
	}

	&.search .head {
		&--back { .display (none); }
		&--logo { .display (none); }
		&--input { .display (block); }
	}

	&--tools { padding-right: 55px;
		.position (absolute, 0, 0);
		
		a { background: url(../img/head--tools.png) no-repeat;
			.display (block);
			.size (55px, 55px);

			&.i1 { background-position: 5px 5px; }
			&.i2 {
				background-color: #ffffff;
				background-position: -40px 5px;
				z-index: 1000;
				border-bottom: 1px solid #f1f1f1;

				.position (fixed, 0, 0);
				.size (55px, 56px);
			}
		}
	}
}

.intro--slider { overflow: hidden;
	.max-size (initial, 500px);

	.slide { .position (relative);
		img {
			.display (block);
			.size (100%);
		}

		p {
			color: #ffffff;
			background: fade(black, 60);
			padding: 8px 10px;

			.position (absolute, 0, 0, auto, 0);
			.font (14px, 22px);
		}
	}

	.slick-arrow {
		z-index: 10;
		border: none;
		cursor: pointer;
		background: fade(black, 60) url(../img/slick--arrows.png) no-repeat;

		.font (0);
		.size (60px, 44px);
	}

	.slick-prev { .position (absolute, auto, auto, 20%, 0); }
	.slick-next { background-position: -60px 0;
		.position (absolute, auto, 0, 20%);
	}
		
	.slick-dots {
		z-index: 10;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;

		.position (absolute, auto, 0, 20px, 0);
		.display (block);
		.font (0);

		li {
			margin: 0 6px;
			background: #5a5b5c;
			cursor: pointer;

			.display (inline-block);
			.size (10px, 10px);
			.border-radius (10px);

			&.slick-active { background: #ee9200;
				.box-shadow (0 0 0 2px #ee9200);
			}

			button { .display (none); }
		}
	}
}

.news {
	.row { margin: 0 -5px; }
	&--item { padding: 20px 5px 0;
		.size (100%);

		&.alt {
			padding: 20px 0;
			width: 100%!important;
		}

		&-title {
			margin: 0 0 5px;
			border-bottom: 1px solid #ee9200;
		}

		&-name {
			text-transform: uppercase;
			border-bottom: 2px solid #ee9200;

			.font (14px, 20px, 700);
		}

		&-more {
			text-decoration: none;
			color: #ffffff;
			background: #ee9200 url(../img/heading--todos.png) right center no-repeat;
			padding: 0 19px 0 7px;

			.font (14px, 22px);
		}

		&-cont {
			background: #ffffff;
			border-bottom: 2px solid #d5d5d5;
			padding: 8px;
		}

		&-image { .size (100px);
			img {
				.display (block);
				.size (100%);
			}
		}

		&-text {
			border-bottom: 1px solid #b1b0b0;
			overflow: hidden;

			.font (15px, 25px);
			.size (~'calc(100% - 110px)', 100px);
		}

		&-tool {
			padding: 5px 0 0;
			color: #ee9200;

			.font (14px, 20px, 700);

			&.alt {
				font-style: italic;
				text-align: right;

				.font (14px, 20px, 400);
			}
		}
	}

	&--selects-btn {
		margin: 0 auto;
		background: #ee9200 url(../img/news--selects-btn.png) right center no-repeat;
		border: none;
		padding: 0 0 0 13px;
		text-align: left;
		color: #ffffff;

		.display (block);
		.size (110px, 44px);
		.font (15px, 44px);
	}

	&--select {
		padding: 10px 5px 15px;
			
		.size (50%);

		.select {
			.position (relative);
			.size (auto, 30px);

			&_in {
				cursor: pointer;
				border: 1px solid #c0c0c0;
				background: #ffffff;
				color: #000000;

				.position (relative);
				.size (100%, 100%);
			}

			&_arrow {
				border-color: #ee9200 transparent  transparent  transparent;
				border-style: solid;
				border-width: 8px 8px 0 8px;

				.position (absolute, 50%, 10px);
				.transform (translate(0, -50%));
				.display (block);
				.size (0);
			}

			&_title {
				padding: 0 25px 0 8px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				text-transform: uppercase;

				.font (14px, 28px);
				.display (block);
			}

			&_list {
				margin: 5px 0 0 0;
				overflow-y: auto;
				list-style: none;
				background: #ffffff;
				z-index: 1000;
				border: 1px solid #c0c0c0;

				.position (absolute, 100%);
				.display (none);
				.size (100%);
				.max-size (initial, 200px);

				li {
					padding: 6px 8px;
					color: #000000;
					cursor: pointer;
					text-transform: uppercase;

					.font (14px, 20px);

					&:hover {
						background: #eee;
					}
				}
			}
		}
	}
}

.articles { padding: 10px 0 35px;
	&--pagination {
		list-style: none;
		margin: 0;
		padding: 15px 0 0;
		text-align: center;

		.font (0);

		li {
			padding: 0 12px;
			background: #9a9a9a;
			margin: 0 2px;

			.display (inline-block);
			.font (15px, 34px);

			a {
				color: #ffffff;
				text-decoration: none;
			}

			&.active,
			&:hover { background: #4f4f4f; }
			&.prev,
			&.next { padding: 0 14px 2px;
				.font (15px, 32px);
			}
		}
	}

	&--title {
		margin: 0 0 10px;

		.news--item-title {
			margin: 9px 0 0;

			.size (~'calc(100% - 120px)');
		}
	}

	&--filter {
		.size (110px);
		.position (relative);

		&-btn {
			color: #000000;
			background: #b7b8b8 url(../img/articles--filter-btn.png) 6px center no-repeat;
			text-decoration: none;
			padding: 0 0 0 40px;

			.background-size (auto 20px);
			.display (block);
			.font (14px, 32px);
		}

		&-box {
			background: #b7b8b8;
			z-index: 10;
			padding: 5px 10px;

			.position-tl (absolute, 32px, -10px);
			.size (240px);
			.display (none);
		}

		&-list {
			list-style: none;
			margin: 0;
			padding: 0;

			> li { border-bottom: 1px solid #979897;
				.display (block);
				.position (relative);

				&:last-of-type { border: none; }
				> a {
					text-decoration: none;
					color: #000000;
					padding: 0 10px;

					.font (16px, 35px);
					.display (block);
				}

				> i { font-style: normal;
					.position (absolute, 0, 0);
					.display (block);
					.font (16px, 35px);

					&.active { .display (none); }
				}

				ul {
					list-style: none;
					margin: 5px 0 10px 10px;
					padding: 0;
					color: #626262;

					.display (none);

					li.sub.active ul { .display (block); }
				}

				&.active {
					> i {
						&.non-active { .display (none); }
						&.active { .display (block); }
					}

					> ul { .display (block); }
				}
			}
		}
	}
}

.article {
	margin: 0 0 10px;
	text-decoration: none;
	color: #000000;

	.display (block);

	&--inner {
		background: #ffffff;
		border-bottom: 2px solid #d5d5d5;
		padding: 8px;

		.position (relative);

		&.pad { padding: 8px 8px 8px 118px; }
	}

	&--image {
		.size (100px);
		.position-tl (absolute, 8px, 8px);

		img {
			.display (block);
			.size (100%);
		}

		&-big {
			img {
				.display (block);
				.size (100%);
			}
		}
	}

	&--info { .min-size (initial, 62px); }
	&--text { margin: 0 0 0 -110px; }
	&--title { .font (14px, 20px, 700); }
	&--user {
		margin: 5px 0;
		text-decoration: none;
		padding: 0 0 0 24px;
		background: url(../img/article--user.png) left center no-repeat;

		.background-size (auto 100%);
		.font (14px, 16px);
		.display (inline-block);
	}

	&--photo {
		margin: 5px 12px 5px 0;
		padding: 0 0 0 30px;
		background: url(../img/article--photo.png) left center no-repeat;

		.background-size (auto 100%);
		.font (14px, 16px);
		.display (inline-block);
	}

	&--height {
		margin: 5px 0;
		padding: 0 0 0 34px;
		background: url(../img/article--height.png) left center no-repeat;

		.background-size (auto 100%);
		.font (14px, 16px);
		.display (inline-block);
	}

	&--desc {
		border-left: 3px solid #f1f1f1;
		padding: 0 0 0 10px;
	}

	&--tools {
		border-top: 1px solid #b1b0b0;
		margin: 6px 0 0 -160px;
		padding: 10px 0 2px;
	}

	&--tags {
		span {
			.font (14px, 20px);
			.display (inline-block);

			&.bold { margin: 0 0 0 10px;
				.font (14px, 20px, 700);
			}
		}

		a {
			color: #000000;
			margin: 0 0 0 6px;

			.font (14px, 20px);
			.display (inline-block);
		}
	}

	&--category a { text-decoration: none;
		.font (14px, 20px);
	}

	&--slider { margin: 20px -8px -1px;
		.slide { .position (relative);
			img {
				.display (block);
				.size (100%);
			}

			.image { overflow: hidden;
				.max-size (auto, 400px);
			}

			.text { padding: 8px 8px 24px;
				.font (14px, 22px);

				p { margin: 0 0 15px;
					&.title { text-transform: uppercase;
						.font (15px, 24px, 700);
					}
				}
			}
		}

		.slick-arrow {
			z-index: 10;
			border: none;
			cursor: pointer;
			background: fade(black, 60) url(../img/slick--arrows.png) no-repeat;

			.font (0);
			.size (60px, 44px);
		}

		.slick-prev { .position (absolute, 20%, auto, auto, 0); }
		.slick-next { background-position: -60px 0;
			.position (absolute, 20%, 0);
		}
			
		.slick-dots {
			z-index: 10;
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;

			.position (absolute, auto, 0, 20px, 0);
			.display (block);
			.font (0);

			li {
				margin: 0 6px;
				background: #5a5b5c;
				cursor: pointer;

				.display (inline-block);
				.size (10px, 10px);
				.border-radius (10px);

				&.slick-active { background: #ee9200;
					.box-shadow (0 0 0 2px #ee9200);
				}

				button { .display (none); }
			}
		}
	}
}

.related--slider { margin-bottom: 20px;
	.slide { padding-right: 20px;
		.size (270px);
	}
}

.one { padding-bottom: 20px;
	&--author {
		background: #ffffff;
		border-bottom: 2px solid #d5d5d5;
		padding: 8px;
		margin: 40px 0 20px;

		.position (relative);

		&-avatar {
			overflow: hidden;
			border: 1px solid #ee9200;

			.position-tl (absolute, -25px, 0);
			.size (50px);
			.border-radius (50px);

			img {
				.display (block);
				.size (100%);
			}
		}

		&-line { text-decoration: none;
			.position-tl (absolute, -25px, 60px);
			.font (14px, 25px);
			.display (block);
		}

		&-name { margin: -8px 0 2px 52px;
			.font (15px, 25px, 500);
		}
	}

	.intro--slider { margin: 0 -10px 20px; }
	.news--item-title { margin: 0 0 10px; }
	&--inner {
		background: #ffffff;
		border-bottom: 2px solid #d5d5d5;
		padding: 8px;
		margin: 0 0 20px;

		.position (relative);

		.article--tools { margin: 0; }
		.med-img {
			float: left;
			margin: 7px 10px 10px 0;

			.size (180px);
			.display (block);
		}

		p { margin: 0 0 15px;
			.font (14px, 20px);
		}

		&-avatar {
			overflow: hidden;
			border: 1px solid #ee9200;

			.position (absolute, -25px, 0);
			.size (50px);
			.border-radius (50px);

			img {
				.display (block);
				.size (100%);
			}
		}

		&-name { color: #ee9200;
			.font (14px, 22px);
			.position (absolute, 0, 60px);
		}

		&-text1 {
			padding: 20px 0 0;
		}
	}

	&--info {
		padding: 10px 0 0;
		margin: 0 -10px;
		border-bottom: 1px solid #ee9200;
		background: center center no-repeat;

		.background-size (cover);
		.size (auto, 150px);

		&-image {
			margin: 0 auto;
			border: 1px solid #ee9200;

			.size (110px);

			img {
				.display (block);
				.size (100%);
			}
		}

		&-title {
			text-transform: uppercase;
			text-align: center;

			.font (15px, 30px, 700);
		}

		&-date { text-align: center;
			.font (0);

			i {
				margin: 0 15px 0 0;
				background: url(../img/one--info-date.png) center center no-repeat;

				.background-size (100% 100%);
				.display (inline-block);
				.size (20px, 20px);
			}

			span {
				.display (inline-block);
				.font (14px, 20px);
			}
		}
	}
}

.trips { margin: 0 0 10px;
	.font (0);
	
	a {
		margin: 0 10px 10px 0;
		padding: 0 10px;
		background: #ee9200;
		color: #ffffff;
		text-decoration: none;

		.font (14px, 28px);
		.display (inline-block);
	}
}

.tabs {
	&--items { margin: -8px 0 10px;
		.font (0);

		a {
			padding: 0 5px;
			color: #ffffff;
			text-decoration: none;
			background: #868685;
			margin: 0 5px 0 0;

			.display (inline-block);
			.font (14px, 24px);

			&.active {
				padding: 0 10px;
				background: #ee9200;

				.font (14px, 28px);
			}
		}
	}

	&--box { .display (none);
		&.shown { .display (block); }
	}
}

.comments { margin-bottom: 20px;
	&--form {
		background: #ffffff;
		padding: 0 90px 0 0;

		.position (relative);

		input {
			border: none;
			background: none;
			text-transform: uppercase;
			padding: 0 0 0 8px;

			.display (block);
			.size (100%, 44px);
			.font (14px, 44px);
		}

		button {
			border: none;
			color: #ffffff;
			padding: 0;
			background: #ee9200;

			.display (block);
			.position (absolute, 5px, 5px);
			.size (80px, 34px);
			.font (14px, 34px);
		}
	}
}

.comment { padding: 0 0 10px 60px;
	.position (relative);

	&.sub {
		background: url(../img/comment--sub.png) left 15px no-repeat;
		padding-left: 85px;

		.background-size (auto 15px);

		.comment--avatar { left: 25px; }
	}

	&--avatar { overflow: hidden;
		.position-tl (absolute, 0, 0);
		.size (50px);
		.border-radius (50px);

		img {
			.display (block);
			.size (100%);
		}
	}

	&--inner {
		background: #ffffff;
		padding: 4px 8px;
	}

	&--text { .font (15px, 22px); }
	&--info { .font (12px, 20px); }
	&--author { text-decoration: none; }
	&--date { color: #9a9898; }
}

.foot {
	background: #d5d5d5;
	padding: 3px 0 0;

	&--socials {
		margin: 0 auto 16px;
		padding: 8px 0 0 2px;
		background: url(../img/foot--socials.png) center center no-repeat;

		.background-size (100% 100%);
		.size (307px, 40px);
		.font (0);
		.box-sizing (border-box);

		a {
			.display (inline-block);
			.size (27px, 27px);

			&:nth-child(1) { margin: 0 45px 0 0; }
			&:nth-child(2) { margin: 0 108px 0 0; }
			&:nth-child(3) { margin: 0 42px 0 0; }
		}
	}

	&--links {
		list-style: none;
		padding: 0;
		text-align: center;
		margin: 0 0 10px;

		.font (0);

		li {
			text-transform: uppercase;
			color: #000000;

			.display (inline-block);
			.font (14px, 20px);

			a {
				color: #000000;
				text-decoration: none;
			}

			span { padding: 0 10px; }
		}
	}

	&--form { text-align: center;
		.font (0);

		input {
			margin: 0 4px 2px 0;
			padding: 0 6px;
			border: 1px solid #b5b5b5;

			.display (inline-block);
			.size (190px, 40px);
			.font (14px, 38px);
		}

		button {
			padding: 0;
			border: none;
			background: #ee9200;
			color: #ffffff;

			.display (inline-block);
			.size (40px, 40px);
			.font (16px, 40px);
		}

		span {
			padding: 1px 0 0;
			color: #6c6c6c;

			.display (inline-block);
			.font (12px, 20px);
		}
	}

	&--copy {
		padding: 10px 0 15px;
		color: #858484;
		text-align: center;

		.font (14px, 20px);
	}
}

.menu {
	z-index: 1100;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.6);

	.position (fixed, 0, 0, 0, 0);
	.display (none);

	&--close {
		border: 3px solid #ffffff;
		overflow: hidden;
		z-index: 2;

		.position (absolute, 10px, 10px);
		.size (35px, 35px);

		&:before,
		&:after {
			background: #ffffff;
			content: "";

			.size (60px, 3px);
			.position-tl (absolute, 50%, 50%);
		}

		&:before { .transform (translate(-50%, -50%) rotate(45deg)); }
		&:after { .transform (translate(-50%, -50%) rotate(-45deg)); }
	}

	&--inner {
		background: #1a1719;
		overflow: scroll;

		.size (100%, 100%);
		.max-size (initial, 100%);
	}

	&--login {
		margin: 9px 0 25px;
		padding: 0 0 0 140px;
		color: #ffffff;
		text-decoration: none;

		.display (block);
		.position (relative);
		.size (auto, 90px);
		.font (25px, 90px);

		img {
			overflow: hidden;
			border: 5px solid #fda418;

			.display (block);
			.position-tl (absolute, 0, 20px);
			.size (90px, 90px);
			.box-sizing (border-box);
			.border-radius (90px);
		}
	}

	&--links > ul {
		list-style: none;
		margin: 0 0 25px;
		padding: 0;
		border-bottom: 1px solid #28272d;

		> li {
			border-top: 1px solid #28272d;
			border-bottom: 1px solid #181517;

			.display (block);
			.position (relative);

			&:first-of-type { border-top: none; }

			> a,
			> span {
				text-decoration: none;
				color: #ffffff;
				padding: 0 20px;

				.display (block);
				.font (20px, 50px);
			}

			> span { padding: 5px 20px 0;
				.font (20px, 40px);
			}

			> i { background: url(../img/menu--links-arrow.png) no-repeat;
				.background-size (auto 100%);
				.position (absolute, 17px, 22px);
				.size (27px, 15px);
			}

			&.sub { padding-bottom: 5px; }
			> ul {
				list-style: none;
				margin: 0 0 0 20px;
				padding: 0;

				.display (none);

				> li { .display (block);
					> a {
						text-decoration: none;
						color: #ffffff;
						padding: 0 30px;

						.font (20px, 50px);
					}
				}
			}
		}
	}

	&--settings {
		color: #ffffff;
		text-decoration: none;
		background: url(../img/menu--settings.png) 20px center no-repeat;
		padding: 0 0 0 65px;
		margin: 0 0 20px;

		.background-size (auto 29px);
		.display (block);
		.font (20px, 50px);
	}
}

.login {
	padding: 5px;
	z-index: 1100;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.6);

	.position (fixed, 0, 0, 0, 0);
	.display (none);

	&--close {
		border: 2px solid #ed9322;
		overflow: hidden;
		z-index: 2;

		.position (absolute, 13px, 13px);
		.size (20px, 20px);
		.border-radius (20px);

		&:before,
		&:after {
			background: #ed9322;
			content: "";

			.size (15px, 2px);
			.position-tl (absolute, 50%, 50%);
		}

		&:before { .transform (translate(-50%, -50%) rotate(45deg)); }
		&:after { .transform (translate(-50%, -50%) rotate(-45deg)); }
	}

	&--inner {
		background: #2f2c2b;
		overflow: scroll;
		padding: 25px 11px 0;

		.max-size (initial, 100%);
		.border-radius (5px);
	}

	&--title {
		text-align: center;
		color: #ed9322;

		.font (15px, 20px);
	}

	&--label { padding: 10px 0 5px;
		.font (14px, 20px);
	}

	&--input { margin: 0 0 15px;
		input {
			border: none;
			padding: 0 6px;

			.display (block);
			.size (100%, 36px);
			.box-sizing (border-box);
			.border-radius (3px);
		}
	}

	&--submit button {
		border: none;
		background: #ed9322 url(../img/login.png) 10px top no-repeat;
		color: #ffffff;
		padding: 0 0 0 55px;
		text-align: left;

		.background-size (26px auto);
		.display (block);
		.size (100%, 36px);
		.box-sizing (border-box);
		.border-radius (3px);
		.font (15px, 36px);
	}

	&--or {
		text-align: center;
		padding: 10px 0;

		a { text-decoration: none;
			.font (14px, 20px);
		}
	}

	&--socials a {
		background: #ed9322;
		color: #ffffff;
		padding: 0 0 0 55px;
		margin: 0 0 15px;
		text-decoration: none;

		.display (block);
		.size (100%, 36px);
		.box-sizing (border-box);
		.border-radius (3px);
		.font (15px, 36px);

		&:last-of-type { margin: 0; }
		&.fb { background: #48629b url(../img/login.png) 10px -36px no-repeat;
			.background-size (26px auto);
		}

		&.gp { background: #dc4b38 url(../img/login.png) 10px -72px no-repeat;
			.background-size (26px auto);
		}

		&.tw { background: #23b0e6 url(../img/login.png) 10px -108px no-repeat;
			.background-size (26px auto);
		}
	}
}

.visible-xs,
.visible-xs-ib,
.visible-sm,
.visible-sm-ib {
	.display (none);
}

@media (min-width: 768px) {
	.visible-sm { .display (block); }
	.visible-sm-ib { .display (inline-block); }
	.hidden-sm { display: none!important; }

	.head { padding: 0 120px 0 80px;
		&--logo { background: url(../img/head--logo-sm.png) center center no-repeat;
			.display (block);
			.background-size (auto 85%);
			.position-tl (absolute, 0, 0);
			.size (80px, 55px);
		}

		&--back {
			white-space: nowrap;
			overflow: hidden;

			.position-tl (absolute, 0, 0);
			.size (110px);
		}

		&--anuncio {
			.position (absolute, 50%, 180px, auto, 130px);
			.transform (translate(0, -50%));
			.size (auto);
		}

		&--input { .display (block); }
		&.search .head {
			&--logo { .display (block); }
			&--input { .display (block); }
		}

		&.harticles { padding: 0 120px 0 80px;
			.head--input { .display (none); }

			&.search .head {
				&--anuncio { .display (none); }
				&--input { .display (block); }
			}
		}

		&.harticle { padding: 0 120px 0 120px;
			&.search .head {
				&--back { .display (block); }
			}
		}		
	}

	.one {
		&--info { padding-top: 20px;
			.size (auto, 180px);
		}
	}

	.news--item { .size (50%); }
	.article {
		&--inner.pad { padding-left: 168px; }
		&--image { .size (150px); }
		&--info { .min-size (initial); }
		&--text { margin: 0; }
	}

	.related--slider .slide { .size (700px); }
	.foot { padding-top: 20px;
		&--socials { .transform (scale(1.4, 1.4)); }
		&--links { margin: 25px 0 15px; }
		&--form {
			input { padding: 0 15px;
				.size (450px, 48px);
			}

			button { .size (50px, 50px); }
		}
	}

	.menu--inner { .size (400px); }
	.login--inner { margin: 0 auto;
		.size (400px);
	}
}

@media (max-width: 767px) {
	.visible-xs { .display (block); }
	.visible-xs-ib { .display (inline-block); }
	.hidden-xs { display: none!important; }

	.articles--title .news--item-name { .font (12px, 20px); }
	.one--inner {
		.article--tags,
		.article--category { float: none;
			.size (auto);				
		}

		.article--tags { margin: 0 0 8px;
			span.bold { margin-left: 0; }
		}
	}
}