/* line 19, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
.feedback, .feedback a, .feedback a:hover {
  background: #ffac48;
  color: white;
  font-weight: bold;
  padding: 0 3px;
  border-bottom: 0;
}

/* line 28, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
#feedback {
  position: fixed;
  bottom: 155px;
  left: 0;
  z-index: 10;
}
/* line 33, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
#feedback p {
  margin: 0;
  padding: 0;
  color: white;
}
/* line 38, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
#feedback div {
  margin-top: 0;
}
/* line 41, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
#feedback label {
  display: inline;
  width: auto;
  color: white;
  margin-left: 1em;
}

/* line 57, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
#compressed_feedback_form_tab {
  float: left;
  height: 155px;
}
/* line 60, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
#compressed_feedback_form_tab a {
  border-bottom: 0;
}

/* line 64, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
#expanded_feedback_form_tab {
  background: #ffac48;
}
/* line 66, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
#expanded_feedback_form_tab img {
  position: absolute;
  top: 0;
  left: 419px;
}
/* line 71, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
#expanded_feedback_form_tab a {
  border-bottom: 0;
}

/* line 75, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
#remark_content {
  width: 400px;
  height: 60px;
  padding: 0.5em;
  margin-left: 1em;
  font: 12px Trebuchet MS, Verdana, Arial, sans-serif;
  overflow-y: auto;
}

/* line 83, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
#expanded_feedback_form {
  background: url(../feedback_tab_bottom.png) top left repeat-x;
  height: 155px;
  padding: 0.25em;
}

/* line 88, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
#feedback_thank_you_message {
  font-size: 14px;
  color: #d1fea4;
  margin-left: 1em;
  font-weight: bold;
}

/* line 94, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
#feedback_submit_button input[type=submit], #feedback_submit_button span a, #feedback_submit_button span {
  display: inline-block;
  font-size: 10px;
  height: 20px;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  box-shadow: none;
  width: 128px;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  background: #ee9200;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
}

/* line 109, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
:first-child + html #expanded_feedback_form_tab img {
  position: absolute;
  top: 0;
  left: 436px;
}

/* line 114, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
.fb_cancel a {
  margin-left: 0.5em;
  color: #ffffcc;
  border-bottom: 1px dotted #ffffcc;
  font-weight: normal;
}
/* line 119, /home/ignat/Documents/zonaradical/app/assets/stylesheets/feedbacker/feedbacker.css.scss */
.fb_cancel a:hover {
  border-bottom: 1px solid #ffffcc;
}
