/*!
 * jQuery UI Draggable 1.11.0
 * http://jqueryui.com
 *
 * Copyright 2014 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 */
/*


 */

.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
