/*!
 * jQuery UI Tabs 1.11.0
 * http://jqueryui.com
 *
 * Copyright 2014 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/tabs/#theming
 */
/*


 */
/* line 18, /home/ignat/Documents/zonaradical/app/assets/stylesheets/jquery-ui-zr/tabs.css.scss */
.ui-widget-header .ui-state-default {
  border: none;
  background: #ee9200;
  font-weight: normal;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 141px;
  height: 27px;
  cursor: auto;
}

/* line 34, /home/ignat/Documents/zonaradical/app/assets/stylesheets/jquery-ui-zr/tabs.css.scss */
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #fff;
  text-decoration: none;
}

/* line 43, /home/ignat/Documents/zonaradical/app/assets/stylesheets/jquery-ui-zr/tabs.css.scss */
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: none;
  background: #cc7e02;
  font-weight: normal;
  color: #fff;
}

/* line 56, /home/ignat/Documents/zonaradical/app/assets/stylesheets/jquery-ui-zr/tabs.css.scss */
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #fff;
  text-decoration: none;
}

/* line 62, /home/ignat/Documents/zonaradical/app/assets/stylesheets/jquery-ui-zr/tabs.css.scss */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: none;
  background: #cc7e02;
  font-weight: normal;
  color: #fff;
}
