/* line 1, /home/ignat/Documents/zonaradical/app/assets/stylesheets/bem/video_thumbnail.css.scss */
.video-thumbnail {
  text-align: center;
}

/* line 5, /home/ignat/Documents/zonaradical/app/assets/stylesheets/bem/video_thumbnail.css.scss */
.video-thumbnail--name {
  font-family: 'HelveticaNeueBold', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1;
  margin-bottom: 8px;
}

/* line 13, /home/ignat/Documents/zonaradical/app/assets/stylesheets/bem/video_thumbnail.css.scss */
.video-thumbnail--image img {
  margin-left: auto;
  margin-right: auto;
}
