.articles--title.clearfix
	.articles--filter.left
		a(href="#").articles--filter-btn Filters (0)

		.articles--filter-box
			ul.articles--filter-list
				li
					a(href="#") Categoria 1
					i.non-active +
					i.active -

					ul
						li.sub &gt; SubCategoria 1
							ul
								li &gt; SubCategoria 1
								li &gt; SubCategoria 2
								li &gt; SubCategoria 3
								li &gt; SubCategoria 4

						li &gt; SubCategoria 2
						li &gt; SubCategoria 3

				li
					a(href="#") Categoria 2
					i.non-active +
					i.active -

					ul
						li.sub &gt; SubCategoria 1
							ul
								li &gt; SubCategoria 1
								li &gt; SubCategoria 2
								li &gt; SubCategoria 3
								li &gt; SubCategoria 4

						li &gt; SubCategoria 2
						li &gt; SubCategoria 3

				li
					a(href="#") Categoria 3
					i.non-active +
					i.active -

					ul
						li.sub &gt; SubCategoria 1
							ul
								li &gt; SubCategoria 1
								li &gt; SubCategoria 2
								li &gt; SubCategoria 3
								li &gt; SubCategoria 4

						li &gt; SubCategoria 2
						li &gt; SubCategoria 3

				li
					a(href="#") Categoria 4
					i.non-active +
					i.active -

					ul
						li.sub &gt; SubCategoria 1
							ul
								li &gt; SubCategoria 1
								li &gt; SubCategoria 2
								li &gt; SubCategoria 3
								li &gt; SubCategoria 4

						li &gt; SubCategoria 2
						li &gt; SubCategoria 3

				li
					a(href="#") Categoria 5
					i.non-active +
					i.active -

					ul
						li.sub &gt; SubCategoria 1
							ul
								li &gt; SubCategoria 1
								li &gt; SubCategoria 2
								li &gt; SubCategoria 3
								li &gt; SubCategoria 4

						li &gt; SubCategoria 2
						li &gt; SubCategoria 3

				li
					a(href="#") Categoria 6
					i.non-active +
					i.active -

					ul
						li.sub &gt; SubCategoria 1
							ul
								li &gt; SubCategoria 1
								li &gt; SubCategoria 2
								li &gt; SubCategoria 3
								li &gt; SubCategoria 4

						li &gt; SubCategoria 2
						li &gt; SubCategoria 3

				li
					a(href="#") Categoria 7
					i.non-active +
					i.active -

					ul
						li.sub &gt; SubCategoria 1
							ul
								li &gt; SubCategoria 1
								li &gt; SubCategoria 2
								li &gt; SubCategoria 3
								li &gt; SubCategoria 4

						li &gt; SubCategoria 2
						li &gt; SubCategoria 3

				li
					a(href="#") Categoria 8
					i.non-active +
					i.active -

					ul
						li.sub &gt; SubCategoria 1
							ul
								li &gt; SubCategoria 1
								li &gt; SubCategoria 2
								li &gt; SubCategoria 3
								li &gt; SubCategoria 4

						li &gt; SubCategoria 2
						li &gt; SubCategoria 3

	.news--item-title.right.clearfix
		.news--item-name.left Most popular articles
		a(href="#").news--item-more.right.hidden-xs Todos

.article
	.article--inner
		.article--desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales mattis gravida. In hac habitasse platea dictumst.