footer.foot
	.foot--socials
		a(href="#")
		a(href="#")
		a(href="#")
		a(href="#")

	.foot--links
		li
			a(href="#") Estações
		li
			span //
		li
			a(href="#") Dicas
		li
			span //
		li
			a(href="#") Vamo Junto
		li
			span //
		li
			a(href="#") Pacotes
		li
			span //
		li
			a(href="#") Forum
		li
			span //
		li
			a(href="#") Galera Snow

	.foot--form
		input(type="text" placeholder="Seu email...")
		button(type="submit") @

		br
		
		span Receba a nossa newsletter

	.foot--copy Politica de Privacidade. Copyright 2014-2015.