// Шапка главной страницы
header.head.harticles
	a(href="#").head--logo.visible-sm

	a(href="#").head--anuncio
		i
		span Publica Anuncio

	.head--input
		input(type="text")

	.head--tools.clearfix
		a(href="#").left.i1
		a(href="#").left.i2