// Содержимое тега <head> для всех страниц
head
	meta(charset="utf-8")
	title Zona

	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
	meta(name="format-detection" content="telephone=no")

	// Шрифты
	link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=latin,cyrillic")

	// Стили
	link(rel="stylesheet" type="text/css" href="css/style.css")

	// Скрипты
	script(type="text/javascript" src="js/jquery-2.2.3.min.js")

	script(type="text/javascript" src="js/slick.js")

	script(type="text/javascript" src="js/scripts.js")