.login
	a(href="#").login--close

	.login--inner 
		.login--title Entre na sua conta do Zona Radical
		.login--label Faca o login com seu e-mail

		.login--input 
			input(type="text" placeholder="SEU EMAIL...")

		.login--input 
			input(type="text" placeholder="SENHA")

		.login--submit 
			button(type="submit") Entrar

		.login--or ou&nbsp;
			a(href="#") Esqueci a senha

		.login--socials 
			a(href="#").fb Entrar com o Facebook
			a(href="#").gp Entrar com o Google
			a(href="#").tw Entrar com o Twitter
			
		.login--or Nao tem uma conta?&nbsp;
			a(href="#") Cadastre-se