.menu
	a(href="#").menu--close
	
	.menu--inner
		a(href="#").menu--login
			img(src="img/menu--login.png" alt="")
			span Log in

		.menu--links
			ul
				li.sub
					span Home
					i
					ul
						li
							a(href="#") videos
						li
							a(href="#") eventos
						li
							a(href="#") galerias de fotos

				li.sub
					span Estações
					i
					ul
						li
							a(href="#") videos
						li
							a(href="#") eventos
						li
							a(href="#") galerias de fotos

				li.sub
					span Dicas
					i
					ul
						li
							a(href="#") videos
						li
							a(href="#") eventos
						li
							a(href="#") galerias de fotos

				li
					a(href="#") Vamo Junto

				li.sub
					span Pacotes
					i
					ul
						li
							a(href="#") videos
						li
							a(href="#") eventos
						li
							a(href="#") galerias de fotos

				li.sub
					span Forum
					i
					ul
						li
							a(href="#") videos
						li
							a(href="#") eventos
						li
							a(href="#") galerias de fotos

				li.sub
					span Galera Snow
					i
					ul
						li
							a(href="#") videos
						li
							a(href="#") eventos
						li
							a(href="#") galerias de fotos

		a(href="#").menu--settings Settings