@import "_mixins.less";

html { min-width: initial;
	.size (auto, 100%);
}

body {
	.size (100%);
	.min-size (320px, 100%);
}

.left { float: left; }
.right { float: right; }
.clearfix { *zoom: 1;
	&:after { clear: both; }
	&:before, &:after { content: " ";
		.display (table);
	}
}

.xs-head {
	background: #ffffff;
	border-bottom: 1px solid #f1f1f1;
	padding: 0 110px 0 0;

	.size (auto, 56px);

	&, * { .box-sizing (border-box); }
	&--logo { background: url(../images/xs-head--logo.png) center center no-repeat;
		.display (block);
		.size (161px, 55px);
	}

	&--back {
		padding: 0 0 0 30px;
		text-decoration: none;

		.font (16px, 56px, 700);
	}

	&--input { padding: 8px 0 8px 6px;
		.display (none);
		
		input {
			border: 1px solid #c7c7c7;
			background: #f1f1f1;
			padding: 0 10px;

			.display (block);
			.size (100%, 39px);
			.font (14px, 37px);
		}
	}

	&.search .xs-head {
		&--back { .display (none); }
		&--logo { .display (none); }
		&--input { .display (block); }
	}

	&--tools { padding-right: 55px;
		.position (absolute, 0, 0);
		
		a { background: url(../images/xs-head--tools.png) no-repeat;
			.display (block);
			.size (55px, 55px);

			&.i1 { background-position: 5px 5px; }
			&.i2 {
				background-color: #ffffff;
				background-position: -40px 5px;
				z-index: 1000;
				border-bottom: 1px solid #f1f1f1;

				.position (fixed, 0, 0);
				.size (55px, 56px);
			}
		}
	}
}

.xs-foot {
	background: #dedede;
	padding: 3px 0 0;

	&--socials {
		margin: 0 auto 16px;
		padding: 8px 0 0 2px;
		background: url(../images/xs-foot--socials.png) center center no-repeat;

		.background-size (100% 100%);
		.size (307px, 40px);
		.font (0);
		.box-sizing (border-box);

		a {
			.display (inline-block);
			.size (27px, 27px);

			&:nth-child(1) { margin: 0 45px 0 0; }
			&:nth-child(2) { margin: 0 108px 0 0; }
			&:nth-child(3) { margin: 0 42px 0 0; }
		}
	}

	&--links {
		list-style: none;
		padding: 0;
		text-align: center;
		margin: 0 0 10px;

		.font (0);
		//.size (270px);

		li {
			text-transform: uppercase;
			color: #000000;

			.display (inline-block);
			.font (14px, 20px);

			a {
				color: #000000;
				text-decoration: none;
			}

			span { padding: 0 10px; }
		}
	}

	&--form { text-align: center;
		.font (0);

		input {
			margin: 0 4px 2px 0;
			padding: 0 6px;

			.display (inline-block);
			.size (190px, 38px);
			.font (14px, 38px);
		}

		button {
			padding: 0;
			border: none;
			background: #ee9200;
			color: #ffffff;

			.display (inline-block);
			.size (40px, 40px);
			.font (16px, 40px);
		}

		span {
			padding: 1px 0 0;
			color: #6c6c6c;

			.display (inline-block);
			.font (12px, 20px);
		}
	}

	&--copy {
		padding: 10px 0 15px;
		color: #858484;
		text-align: center;

		.font (14px, 20px);
	}
}

.xs-menu {
	z-index: 1100;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.6);

	.position (fixed, 0, 0, 0, 0);

	&--close {
		border: 3px solid #ffffff;
		overflow: hidden;
		z-index: 2;

		.position (absolute, 10px, 10px);
		.size (35px, 35px);

		&:before,
		&:after {
			background: #ffffff;
			content: "";

			.size (60px, 3px);
			.position-tl (absolute, 50%, 50%);
		}

		&:before { .transform (translate(-50%, -50%) rotate(45deg)); }
		&:after { .transform (translate(-50%, -50%) rotate(-45deg)); }
	}

	&--inner {
		background: #1a1719;
		overflow: scroll;

		.size (100%, 100%);
		.max-size (initial, 100%);
	}

	&--login {
		margin: 9px 0 25px;
		padding: 0 0 0 140px;
		color: #ffffff;
		text-decoration: none;

		.display (block);
		.position (relative);
		.size (auto, 90px);
		.font (25px, 90px);

		img {
			overflow: hidden;
			border: 5px solid #fda418;

			.display (block);
			.position-tl (absolute, 0, 20px);
			.size (90px, 90px);
			.box-sizing (border-box);
			.border-radius (90px);
		}
	}

	&--links > ul {
		list-style: none;
		margin: 0 0 25px;
		padding: 0;
		border-bottom: 1px solid #28272d;

		> li {
			border-top: 1px solid #28272d;
			border-bottom: 1px solid #181517;

			.display (block);
			.position (relative);

			&:first-of-type { border-top: none; }

			> a,
			> span {
				text-decoration: none;
				color: #ffffff;
				padding: 0 20px;

				.display (block);
				.font (20px, 50px);
			}

			> span { padding: 5px 20px 0;
				.font (20px, 40px);
			}

			> i { background: url(../images/xs-menu--links-arrow.png) no-repeat;
				.background-size (auto 100%);
				.position (absolute, 17px, 22px);
				.size (27px, 15px);
			}

			&.sub { padding-bottom: 5px; }
			> ul {
				list-style: none;
				margin: 0 0 0 20px;
				padding: 0;

				.display (none);

				> li { .display (block);
					> a {
						text-decoration: none;
						color: #ffffff;
						padding: 0 30px;

						.font (20px, 50px);
					}
				}
			}
		}
	}

	&--settings {
		color: #ffffff;
		text-decoration: none;
		background: url(../images/xs-menu--settings.png) 20px center no-repeat;
		padding: 0 0 0 65px;
		margin: 0 0 20px;

		.background-size (auto 29px);
		.display (block);
		.font (20px, 50px);
	}
}

.xs-login {
	padding: 5px;
	z-index: 1100;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.6);

	.position (fixed, 0, 0, 0, 0);

	&--close {
		border: 2px solid #ed9322;
		overflow: hidden;
		z-index: 2;

		.position (absolute, 13px, 13px);
		.size (20px, 20px);
		.border-radius (20px);

		&:before,
		&:after {
			background: #ed9322;
			content: "";

			.size (15px, 2px);
			.position-tl (absolute, 50%, 50%);
		}

		&:before { .transform (translate(-50%, -50%) rotate(45deg)); }
		&:after { .transform (translate(-50%, -50%) rotate(-45deg)); }
	}

	&--inner {
		background: #2f2c2b;
		overflow: scroll;
		padding: 25px 11px 0;

		.max-size (initial, 100%);
		.border-radius (5px);
	}

	&--title {
		text-align: center;
		color: #ed9322;

		.font (15px, 20px);
	}

	&--label { padding: 10px 0 5px;
		.font (14px, 20px);
	}

	&--input { margin: 0 0 15px;
		input { border: none;
			.display (block);
			.size (100%, 36px);
			.box-sizing (border-box);
			.border-radius (3px);
		}
	}

	&--submit button {
		border: none;
		background: #ed9322 url(../images/xs-login.png) 10px top no-repeat;
		color: #ffffff;
		padding: 0 0 0 55px;
		text-align: left;

		.background-size (26px auto);
		.display (block);
		.size (100%, 36px);
		.box-sizing (border-box);
		.border-radius (3px);
		.font (15px, 36px);
	}

	&--or {
		text-align: center;
		padding: 10px 0;

		a { text-decoration: none;
			.font (14px, 20px);
		}
	}

	&--socials a {
		background: #ed9322;
		color: #ffffff;
		padding: 0 0 0 55px;
		margin: 0 0 15px;
		text-decoration: none;

		.display (block);
		.size (100%, 36px);
		.box-sizing (border-box);
		.border-radius (3px);
		.font (15px, 36px);

		&:last-of-type { margin: 0; }
		&.fb { background: #48629b url(../images/xs-login.png) 10px -36px no-repeat;
			.background-size (26px auto);
		}

		&.gp { background: #dc4b38 url(../images/xs-login.png) 10px -72px no-repeat;
			.background-size (26px auto);
		}

		&.tw { background: #23b0e6 url(../images/xs-login.png) 10px -108px no-repeat;
			.background-size (26px auto);
		}
	}
}

.index-slider .slick-dots { display: none!important; }

.xs-head,
.heading--todos,
.xs-double,
.xs-foot,
.xs-procurar,
.xs-menu,
.xs-login { .display (none); }

@media (max-width: 1023px) {
	body {
		background: #f1f1f1;
		overflow: hidden;

		.box-sizing (border-box);

		&:after { .display (none); }
	}

	header { .display (none); }
	.xs-head { .display (block); }

	footer { .display (none); }
	.xs-foot { .display (block); }

	section.top-section { margin-bottom: 17px;
		.size (100%);
	}

	.slider-field { overflow: hidden;
		.size (100%); //, 190px);
		.max-size (initial, 500px);

		.index-slider {
			.max-size (initial, 500px);
		}
	}

	.gallery-field { .display (none); }
	.index-slider .slide {
		p { padding: 6px;
			.position-tl (absolute, 0, 0);
			.font (14px, 20px);
		}

		img { .size (100%); }
		span.tag { .display (none); }
	}

	.slick-prev, .slick-next {
		//top: 120px;
		margin-top: -22px;
		background: rgba(51, 51, 51, 0.68) url(../images/xs-slick--arrows.png) no-repeat;

		.size (60px, 44px);

		&:hover { background-color: rgba(51, 51, 51, 0.68); }
	}

	.slick-prev { background-position: 0 0; }
	.slick-next { background-position: -60px 0; }
	.content { .size (100%); }
	.main-content {
		float: none;
		padding: 0 5px;

		.size (100%);
		.box-sizing (border-box);
	}

	aside { .display (none); }
	.heading { margin-bottom: 4px;
		&--todos, a.all {
			float: none;
			text-decoration: none;
			color: #ffffff;
			padding: 0 19px 0 7px;
			background: #ee9200 url(../images/xs-heading--todos.png) right center no-repeat;

			.position (absolute, 3px, 0);
			.display (block);
			.size (auto, 22px);
			.font (14px, 22px);
		}
	}

	h1 {
		color: #333333;
		padding-bottom: 0;
		border-bottom: 2px solid #f78e00;

		.font (14px, 20px);
	}

	.news-slider { margin: 0 0 15px;
		.slick-list, .slick-track { height: auto!important; }
		.slick-prev, .slick-next { display: none!important; }
		.slide { .display (none);
			&:first-of-type { .display (block); }
		}

		.news-item {
			padding: 5px 5px 25px;
			background: #ffffff;
			border: none!important;
			border-bottom: 2px solid #d5d5d5!important;

			a.img-wrap { .size (100px); }
			img { .size (100%); }
			.details {
				border-bottom: 1px solid #b1b0b0;
				margin-left: 110px;

				.position (relative);

				a.date {
					.position (absolute, auto, 0, -26px);
					.font (14px, 25px);
				}

				a.body {
					margin: 0 0 5px;
					overflow: hidden;

					.font (14px, 20px);
					.display (block);
					.box-sizing (border-box);
					.max-size (initial, 60px);
					.display (block);
				}
			}
		}
	}

	ul.item-list { margin: 0;
		li {
			margin: 0 0 15px;
			padding: 5px 5px 25px;
			background: #ffffff;
			border: none!important;
			border-bottom: 2px solid #d5d5d5!important;

			.display (none);
			.position (relative);

			&:first-of-type { .display (block); }

			a.img-wrap { .size (100px); }
			img {
				.box-sizing (border-box);
				.size (100%);
			}

			.details {
				border-bottom: 1px solid #b1b0b0;
				margin-left: 110px;

				.position (relative);

				i.extra-info { .display (none); }
				p {
					overflow: hidden;
					margin: 0 0 5px;

					.font (14px, 20px, 400, 'HelveticaNeue');
					.display (block);
					.box-sizing (border-box);
					.max-size (initial, 60px);
				}
			}

			a.title {
				margin: 0;
				color: #ee9200;

				.position (absolute, auto, auto, 0, 5px);
				.font (14px, 25px);
			}
		}
	}

	table.double { .display (none); }
	.xs-double { .display (block);
		&--item {
			margin: 0 0 15px;
			padding: 5px 5px 25px;
			background: #ffffff;
			border-bottom: 2px solid #d5d5d5;

			.position (relative);

			a.img-wrap {
				.size (100px);
				.display (block);
				.position-tl (absolute, 5px, 5px);

				img { .size (100%); }
			}

			a.title { .display (none); }
			p {
				border-bottom: 1px solid #b1b0b0;
				margin: 0 0 0 110px;
				padding: 0 0 5px;

				.position (relative);
				.display (block);
				.font (14px, 20px, 400, 'HelveticaNeue');
				.box-sizing (border-box);

				&.tex {
					.min-size (initial, 66px);
				}
			}

			i.date {
				margin: 0;
				color: #ee9200;

				.position (absolute, auto, auto, 0, 5px);
				.font (14px, 25px);
			}
		}
	}

	p.inv { .display (none); }
	.xs-procurar { padding: 0 5px 15px;
		.display (block);

		form.vj-widget-form {
			.position (relative);
			.font (0);

			.select-wrap {
				float: none;
				margin: 0 0 15px;

				.display (inline-block);
				.box-sizing (border-box);
				.size (49%, 27px);

				&.c1 { margin-right: 2%; }
			}

			input[type=submit] {
				float: none;
				margin: 0 auto;

				.display (block);
			}
		}
	}

	.to-top { .display (none); }
	.index-slider .slick-dots {
		display: block!important;
		list-style: none;
		margin: 0;
		padding: 0;

		.position (absolute, auto, auto, 20px, 50%);
		.transform (translate(-50%, 0));
		.font (0);

		li {
			margin: 0 6px;
			background: #5a5b5c;

			.display (inline-block);
			.size (10px, 10px);
			.border-radius (10px);

			&.slick-active { background: #ee9200;
				.box-shadow (0 0 0 2px #ee9200);
			}

			button { .display (none); }
		}
	}

	article {
		padding: 0 10px;
		background: #ffffff;
		border-bottom: 2px solid #d5d5d5;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.xs-head { padding: 0 120px 0 80px;
		&--logo { background: url(../images/xs-head--logo-sm.png) center center no-repeat;
			.display (block);
			.background-size (auto 85%);
			.position-tl (absolute, 0, 0);
			.size (80px, 55px);
		}

		&--input { .display (block); }
		&.search .xs-head {
			&--logo { .display (block); }
			&--input { .display (block); }
		}
	}

	.main-content {
		.sm-left { float: left;
			.size (49%);
			.position (relative);
			.box-sizing (border-box);
		}

		.sm-right { float: right;
			.size (49%);
			.position (relative);
			.box-sizing (border-box);
		}
	}

	.slider-field { overflow: hidden;
		.size (100%); //, 300px);
	}

	.xs-foot { padding-top: 20px;
		&--socials { .transform (scale(1.4, 1.4)); }
		&--links { margin: 25px 0 15px; }
		&--form {
			input { padding: 0 15px;
				.size (450px, 48px);
			}

			button { .size (50px, 50px); }
		}
	}

	.xs-menu--inner { .size (400px); }
	.xs-login--inner { margin: 0 auto;
		.size (400px);
	}
}

@media (max-width: 767px) {
}