/*
  Aside gallery, right column
*/
/* line 7, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/aside-gallery.css.scss */
.gallery-field {
  width: 368px;
  float: right;
}

/* line 12, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/aside-gallery.css.scss */
.gallery-field-large {
  width: 368px;
  height: 218px;
  position: relative;
  margin-bottom: 20px;
}
/* line 17, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/aside-gallery.css.scss */
.gallery-field-large img {
  display: block;
  width: 368px;
  height: 218px;
}

/* line 24, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/aside-gallery.css.scss */
.gallery-field p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px 20px 10px 8px;
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
/* line 37, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/aside-gallery.css.scss */
.gallery-field p b {
  font-size: 16px;
  line-height: 24px;
  font-family: 'HelveticaNeueMedium', Arial, Helvetica, sans-serif;
  display: block;
}

/* line 45, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/aside-gallery.css.scss */
.gallery-field-small {
  float: left;
  width: 174px;
  height: 133px;
  position: relative;
}
/* line 50, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/aside-gallery.css.scss */
.gallery-field-small.right {
  float: right;
}
/* line 53, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/aside-gallery.css.scss */
.gallery-field-small img {
  width: 174px;
  height: 133px;
  display: block;
}

/* line 60, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/aside-gallery.css.scss */
.gallery-field .gallery-field-small p {
  padding: 3px 8px 3px 12px;
}
