/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
/* line 4, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 17, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc;
}

/* line 22, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper a:hover {
  color: #fff;
}

/* line 25, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul {
  list-style: none;
}

/* line 29, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table;
}

/* line 33, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper.clearfix:after {
  clear: both;
}

/* line 36, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper.clearfix {
  *zoom: 1;
}

/* Main */
/* line 40, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none;
}

/* line 44, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important;
}

/* line 49, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-meridium a {
  color: #313333;
}

/* line 51, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em;
  left: 25%;
}

/* line 60, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 64, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper:after {
  clear: both;
}

/* Skeleton */
/* line 69, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 60px;
  height: 90px;
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 6px;
  background: #000;
}

/* line 82, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px;
  text-decoration: none !important;
}

/* line 93, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul li:first-child {
  z-index: 2;
}

/* line 96, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important;
}

/* line 106, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden;
  outline: 1px solid transparent;
}

/* line 116, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* line 122, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0;
}

/* line 130, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 141, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* line 152, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #333;
  border-radius: 6px;
  font-size: 70px;
}

/* line 165, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul li a div.up div.inn {
  top: 0;
}

/* line 168, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0;
}

/* PLAY */
/* line 172, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3;
}

/* line 175, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper .flip {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

/* line 177, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5;
}

/* line 183, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100px;
}

/* line 190, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-divider:first-child {
  width: 0;
}

/* line 193, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-dot {
  display: block;
  background: #323434;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 5px;
}

/* line 203, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -86px;
  color: black;
  text-shadow: none;
}

/* line 210, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-divider.minutes .flip-clock-label {
  right: -88px;
}

/* line 213, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-divider.seconds .flip-clock-label {
  right: -91px;
}

/* line 216, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-dot.top {
  top: 30px;
}

/* line 219, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-dot.bottom {
  bottom: 30px;
}

@-webkit-keyframes asd {
  /* line 223, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    z-index: 2;
  }

  /* line 226, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  20% {
    z-index: 4;
  }

  /* line 229, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    z-index: 4;
  }
}

@-moz-keyframes asd {
  /* line 233, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    z-index: 2;
  }

  /* line 236, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  20% {
    z-index: 4;
  }

  /* line 239, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    z-index: 4;
  }
}

@-o-keyframes asd {
  /* line 243, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    z-index: 2;
  }

  /* line 246, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  20% {
    z-index: 4;
  }

  /* line 249, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    z-index: 4;
  }
}

@keyframes asd {
  /* line 253, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    z-index: 2;
  }

  /* line 256, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  20% {
    z-index: 4;
  }

  /* line 259, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    z-index: 4;
  }
}

/* line 262, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both;
}

@-webkit-keyframes turn {
  /* line 269, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    -webkit-transform: rotateX(90deg);
  }

  /* line 272, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    -webkit-transform: rotateX(0deg);
  }
}

@-moz-keyframes turn {
  /* line 276, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    -moz-transform: rotateX(90deg);
  }

  /* line 279, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    -moz-transform: rotateX(0deg);
  }
}

@-o-keyframes turn {
  /* line 283, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    -o-transform: rotateX(90deg);
  }

  /* line 286, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    -o-transform: rotateX(0deg);
  }
}

@keyframes turn {
  /* line 290, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    transform: rotateX(90deg);
  }

  /* line 293, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    transform: rotateX(0deg);
  }
}

/* line 296, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both;
}

@-webkit-keyframes turn2 {
  /* line 303, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    -webkit-transform: rotateX(0deg);
  }

  /* line 306, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    -webkit-transform: rotateX(-90deg);
  }
}

@-moz-keyframes turn2 {
  /* line 310, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    -moz-transform: rotateX(0deg);
  }

  /* line 313, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    -moz-transform: rotateX(-90deg);
  }
}

@-o-keyframes turn2 {
  /* line 317, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    -o-transform: rotateX(0deg);
  }

  /* line 320, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    -o-transform: rotateX(-90deg);
  }
}

@keyframes turn2 {
  /* line 324, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    transform: rotateX(0deg);
  }

  /* line 327, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    transform: rotateX(-90deg);
  }
}

/* line 330, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3;
}

/* SHADOW */
/* line 334, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}

/* line 345, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both;
}

/*DOWN*/
/* line 357, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}

/* line 368, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both;
}

@-webkit-keyframes show {
  /* line 380, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    opacity: 0;
  }

  /* line 383, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes show {
  /* line 387, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    opacity: 0;
  }

  /* line 390, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes show {
  /* line 394, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    opacity: 0;
  }

  /* line 397, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    opacity: 1;
  }
}

@keyframes show {
  /* line 401, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    opacity: 0;
  }

  /* line 404, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hide {
  /* line 408, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    opacity: 1;
  }

  /* line 411, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes hide {
  /* line 415, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    opacity: 1;
  }

  /* line 418, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes hide {
  /* line 422, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    opacity: 1;
  }

  /* line 425, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    opacity: 0;
  }
}

@keyframes hide {
  /* line 429, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  0% {
    opacity: 1;
  }

  /* line 432, /home/ignat/Documents/zonaradical/app/assets/stylesheets/shared/flipclock.css.scss */
  100% {
    opacity: 0;
  }
}
