@charset "UTF-8";
/*	-------------------------------------------------
	Подключаем нестандартные шрифты | Custom fonts
	------------------------------------------------- */
@font-face {
  font-family: 'HelveticaNeueRegular';
  src: url(../helveticaneue.eot);
  src: url(../helveticaneue.eot) format("embedded-opentype"), url(../helveticaneue.woff) format("woff"), url(../helveticaneue.ttf) format("truetype"), url(../helveticaneue.svg) format("svg");
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url(../helvetica-neue-bold.eot);
  src: url(../helvetica-neue-bold.eot) format("embedded-opentype"), url(../helvetica-neue-bold.woff) format("woff"), url(../helvetica-neue-bold.ttf) format("truetype"), url(../helvetica-neue-bold.svg) format("svg");
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url(../helveticaneue-medium.eot);
  src: url(../helveticaneue-medium.eot) format("embedded-opentype"), url(../helveticaneue-medium.woff) format("woff"), url(../helveticaneue-medium.ttf) format("truetype"), url(../helveticaneue-medium.svg) format("svg");
}
